<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="转发集群名字" Channel="0" Service="0" Name="clustername" Key="" Value="route"/>
	<Setting Description="转发集群秘钥" Channel="0" Service="0" Name="clusterkey" Key="" Value="route@kframe,./"/>
	<Setting Description="服务器列表类型  1 所有服务器列表 2 直接随机一个服务器登录" Channel="0" Service="0" Name="dirtype" Key="" Value="2"/>
	<Setting Description="服务器列表类型  内部 研发, 返回所有列表" Channel="1" Service="1" Name="dirtype" Key="" Value="1"/>
	<Setting Description="是否开启激活功能" Channel="0" Service="0" Name="openactivation" Key="" Value="0"/>
	<Setting Description="是否开启激活功能 - 内网渠道不需要激活" Channel="1" Service="0" Name="openactivation" Key="" Value="0"/>
	<Setting Description="登录token的有效时间单位: 秒" Channel="0" Service="0" Name="tokenexpiretime" Key="" Value="2592000"/>
	<Setting Description="玩家数据延迟保存时间 单位: 秒" Channel="0" Service="0" Name="selaysavetime" Key="" Value="120000"/>
	<Setting Description="名字最大长度" Channel="0" Service="0" Name="playernamelength" Key="" Value="14"/>
	<Setting Description="全局类名" Channel="0" Service="0" Name="globalclassname" Key="" Value="Global"/>
	<Setting Description="允许有倍数的属性" Channel="0" Service="0" Name="multipledata" Key="" Value="count;money;"/>
	<Setting Description="全局邮件清理时间 几点钟" Channel="0" Service="0" Name="wholemailcleartime" Key="" Value="5"/>
	<Setting Description="邮件最大数量 - 系统" Channel="0" Service="0" Name="mailmaxcount" Key="1" Value="10"/>
	<Setting Description="邮件最大数量 - 好友" Channel="0" Service="0" Name="mailmaxcount" Key="2" Value="10"/>
	<Setting Description="邮件最大数量 - 礼包" Channel="0" Service="0" Name="mailmaxcount" Key="3" Value="10"/>
	<Setting Description="邮件领取类型 - 系统 1 马上删除 0 保存领取状态" Channel="0" Service="0" Name="mailreceiveremove" Key="1" Value="1"/>
	<Setting Description="邮件领取类型 - 好友 1 马上删除 0 保存领取状态" Channel="0" Service="0" Name="mailreceiveremove" Key="2" Value="1"/>
	<Setting Description="邮件领取类型 - 礼包 1 马上删除 0 保存领取状态" Channel="0" Service="0" Name="mailreceiveremove" Key="3" Value="0"/>
	<Setting Description="匹配对应的属性字段 - 单人" Channel="0" Service="0" Name="matchscore" Key="1" Value="singlescore"/>
	<Setting Description="匹配对应的属性字段 - 双人" Channel="0" Service="0" Name="matchscore" Key="2" Value="doublescore"/>
	<Setting Description="匹配对应的属性字段 - 四人" Channel="0" Service="0" Name="matchscore" Key="3" Value="fourscore"/>
	<Setting Description="心愿单最大数量" Channel="0" Service="0" Name="wishordermaxcount" Key="" Value="6"/>
	<Setting Description="队伍拒绝邀请的时间 单位:秒" Channel="0" Service="0" Name="groupinviterefusetime" Key="" Value="300"/>
	<Setting Description="队伍邀请/申请组队的有效时间 单位:秒" Channel="0" Service="0" Name="groupinviteapplyvalidtime" Key="" Value="120"/>
	<Setting Description="战场最小开启阵容数量" Channel="0" Service="0" Name="minopenroomcount" Key="1" Value="1"/>
	<Setting Description="战场最小开启阵容数量  正式环境" Channel="3" Service="8" Name="minopenroomcount" Key="1" Value="10"/>
	<Setting Description="战场最小开启阵容数量" Channel="0" Service="0" Name="minopenroomcount" Key="2" Value="10"/>
	<Setting Description="战场最小开启阵容数量" Channel="0" Service="0" Name="minopenroomcount" Key="3" Value="10"/>
	<Setting Description="战场的有效时间 单位:毫秒 " Channel="0" Service="0" Name="roomvalidtime" Key="" Value="7200000"/>
	<Setting Description="战场记录保留时间 单位:秒" Channel="0" Service="0" Name="battlescoresavetime" Key="" Value="2592000"/>
	<Setting Description="战场伤害计算评分参数 - 伤害" Channel="0" Service="0" Name="battlescoreparam" Key="hurt" Value="1"/>
	<Setting Description="战场伤害计算评分参数 - 击杀人数" Channel="0" Service="0" Name="battlescoreparam" Key="kill" Value="100"/>
	<Setting Description="战场伤害计算评分参数 - 生存" Channel="0" Service="0" Name="battlescoreparam" Key="survival" Value="0.5"/>
	<Setting Description="战场伤害计算评分参数 - 排名" Channel="0" Service="0" Name="battlescoreparam" Key="ranking" Value="500"/>
	<Setting Description="战场伤害计算评分参数 - 吃鸡" Channel="0" Service="0" Name="battlescoreparam" Key="topnone" Value="1000"/>
	<Setting Description="战场伤害计算评分参数 - 伤害队友" Channel="0" Service="0" Name="battlescoreparam" Key="teamhurt" Value="-2"/>
	<Setting Description="战场伤害计算评分参数 - 击杀队友" Channel="0" Service="0" Name="battlescoreparam" Key="teamkill" Value="-500"/>
	<Setting Description="每日发送敬酒数量" Channel="0" Service="0" Name="toastsendlimitcount" Key="" Value="3"/>
	<Setting Description="每日接受敬酒数量" Channel="0" Service="0" Name="toastrecvlimitcount" Key="" Value="3"/>
	<Setting Description="敬酒邮件id" Channel="0" Service="0" Name="toastmailid" Key="" Value="1"/>
	<Setting Description="敬酒添加好友度" Channel="0" Service="0" Name="toastfriendliness" Key="" Value="2"/>
	<Setting Description="最大好友数量" Channel="0" Service="0" Name="freindmaxcount" Key="" Value="100"/>
	<Setting Description="最大的好友邀请数量" Channel="0" Service="0" Name="freindinvitecount" Key="" Value="20"/>
	<Setting Description="好友邀请的保持时间 单位: 秒" Channel="0" Service="0" Name="freindinvitekeeptime" Key="" Value="86400"/>
	<Setting Description="组队添加好友度" Channel="0" Service="0" Name="teamfriendliness" Key="" Value="5"/>
	<Setting Description="胜利添加好友度" Channel="0" Service="0" Name="winfriendliness" Key="" Value="5"/>
	<Setting Description="每日好友度清除时间" Channel="0" Service="0" Name="freindlinessresettime" Key="" Value="5"/>
	<Setting Description="好友度最大上限" Channel="0" Service="0" Name="freindlinessmax" Key="" Value="500"/>
	<Setting Description="每日好友度上线 - 组队" Channel="0" Service="0" Name="freindlinessdailymax" Key="1" Value="5"/>
	<Setting Description="每日好友度上线 - 胜利" Channel="0" Service="0" Name="freindlinessdailymax" Key="2" Value="5"/>
	<Setting Description="每日好友度上线 - 敬酒" Channel="0" Service="0" Name="freindlinessdailymax" Key="3" Value="5"/>
	<Setting Description="每日好友度上线 - 送礼" Channel="0" Service="0" Name="freindlinessdailymax" Key="4" Value="5"/>
	<Setting Description="最近游戏玩家最大数量" Channel="0" Service="0" Name="recentmaxcount" Key="" Value="10"/>
	<Setting Description="最近玩家保留时间 单位: 秒" Channel="0" Service="0" Name="recentkeeptime" Key="" Value="604800"/>
	<Setting Description="聊天的时间间隔" Channel="0" Service="0" Name="chatinterval" Key="" Value="3"/>
	<Setting Description="聊天的内容长度" Channel="0" Service="0" Name="chatmaxlength" Key="" Value="100"/>
	<Setting Description="steam周末活动结束时间(星期几)" Channel="3" Service="0" Name="steamfreeweekendstopday" Key="" Value="1"/>
	<Setting Description="steam周末活动结束时间(小时)" Channel="3" Service="0" Name="steamfreeweekendstophour" Key="" Value="16"/>
</Settings>
