<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting MatchId="1" RewardKey="5" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;15&quot;}}]"/>
	<Setting MatchId="1" RewardKey="10" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;20&quot;}}]"/>
	<Setting MatchId="1" RewardKey="20" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;30&quot;}}]"/>
	<Setting MatchId="1" RewardKey="30" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;40&quot;}}]"/>
	<Setting MatchId="1" RewardKey="50" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;50&quot;}}]"/>
	<Setting MatchId="1" RewardKey="75" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;60&quot;}}]"/>
	<Setting MatchId="1" RewardKey="100" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;70&quot;}}]"/>
	<Setting MatchId="1" RewardKey="140" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;80&quot;}}]"/>
	<Setting MatchId="1" RewardKey="999" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
	<Setting MatchId="2" RewardKey="5" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;10&quot;}}]"/>
	<Setting MatchId="2" RewardKey="10" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;20&quot;}}]"/>
	<Setting MatchId="2" RewardKey="20" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;30&quot;}}]"/>
	<Setting MatchId="2" RewardKey="30" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;40&quot;}}]"/>
	<Setting MatchId="2" RewardKey="50" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;50&quot;}}]"/>
	<Setting MatchId="2" RewardKey="75" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;60&quot;}}]"/>
	<Setting MatchId="2" RewardKey="100" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;75&quot;}}]"/>
	<Setting MatchId="2" RewardKey="999" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
	<Setting MatchId="3" RewardKey="5" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;10&quot;}}]"/>
	<Setting MatchId="3" RewardKey="10" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;20&quot;}}]"/>
	<Setting MatchId="3" RewardKey="20" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;30&quot;}}]"/>
	<Setting MatchId="3" RewardKey="30" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;40&quot;}}]"/>
	<Setting MatchId="3" RewardKey="50" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;50&quot;}}]"/>
	<Setting MatchId="3" RewardKey="75" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;60&quot;}}]"/>
	<Setting MatchId="3" RewardKey="100" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;75&quot;}}]"/>
	<Setting MatchId="3" RewardKey="999" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
</Settings>
