*.obj
*.tlog
*.pdb
*.suo
*.Plo
*.Po
*.log
_out/
*.opendb
*.db
_bin/win64/
*.user
*.idb
*.lst
.vs/
Bin/auth/setting/
Bin/auth/_output/
Bin/platform/_output/
Bin/platform/setting/
Resource/excel/~*.xlsx
*.o
*.lo
*.la
Server/_build/linux/cmake_install.cmake
Server/_build/linux/KFPlugin/
Server/_build/linux/KFContrib/
Server/_build/linux/Makefile
Server/_build/linux/CMakeFiles/
Server/_build/linux/CMakeCache.txt
Server/_build/linux/KFStartup
Server/_build/linux/compile_commands.json
Server/_bin/linux/
Server/_bin/win64/
Server/KFLibrary/zlib/contrib/vstudio/vc11/x64/
Server/KFLibrary/poco/PageCompiler/File2Page/bin64/
Server/KFLibrary/poco/PageCompiler/bin64/
Server/KFLibrary/log4cxx/log4cxx/projects/x64/
Unreal/SurvivalGameProj/Binaries/Win64/
Unreal/
Unity/Temp/
Unity/Library/metadata/
Unity/Library/ShaderCache/
Unity/Library/
Server/KFLibrary/log4cxx/apr-util/x64/
Server/KFLibrary/libuv/Debug/
Server/KFLibrary/libuv/Release/
Server/KFLibrary/log4cxx/apr-util/xml/expat/lib/x64/
Server/KFLibrary/libiconv/win64/MSVC14/x64/
Server/KFLibrary/poco/lib64/
Server/KFLibrary/luaplus/projects/x64/
Server/KFLibrary/libiconv/win64/MSVC14/libiconv_static/x64/
Server/KFLibrary/google/protobuf/vsprojects/x64/
Unity/obj/
Server/KFLibrary/libiconv/win64/MSVC14/libiconv_dll/x64/Debug/
Server/KFLibrary/libiconv/win64/MSVC14/libiconv_dll/x64/Release/
Server/_lib/win64/KFProtocold.lib
Server/_lib/win64/KFPlugind.lib
Server/_lib/win64/KFMemoryd.lib
Server/_lib/win64/KFMath3Dd.lib
Server/_lib/win64/KFGlobald.lib
Server/_lib/win64/KFExceld.lib
Server/_lib/win64/KFCored.lib
Server/_lib/win64/KFConHashd.lib
Server/_lib/win64/KFHttpd.lib
Server/_lib/win64/KFNetworkd.lib
Server/_lib/win64/KFUtilityd.lib
Server/_lib/win64/KFConHash.lib
Server/_lib/win64/KFExcel.lib
Server/_lib/win64/KFGlobal.lib
Server/_lib/win64/KFHttp.lib
Server/_lib/win64/KFMath3D.lib
Server/_lib/win64/KFMemory.lib
Server/_lib/win64/KFPlugin.lib
Server/_lib/win64/KFProtocol.lib
Server/_lib/win64/KFUtility.lib
Server/_lib/win64/KFCore.lib
Server/_lib/win64/KFNetwork.lib
Bin/battlecluster/setting/
Bin/battlecluster/plugin/
Bin/battlecluster/config/
Bin/battlecluster/*.dll
Bin/battlecluster/*.exe
Bin/*/setting/
Bin/*/plugin/
Bin/*/config/
Bin/*/*.dll
Bin/*/*.exe
