*.pyc
*.obj
*.tlog
*.user
*.pdb
*.log
_out
.vs
_output
bin64
obj64
lib64
x64
KFLibrary/libuv/Debug/
KFLibrary/libuv/Release/
KFLibrary/google/protobuf/cmake/vsbuild/Release
KFLibrary/google/protobuf/cmake/vsbuild/Debug
_lib/win64/debug/
_lib/win64/release/
_bin/bin/win64/debug/
_bin/bin/win64/release/
