<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting DataName="skill" Key="1" CompoundData="[{&quot;skill&quot;:{&quot;id&quot;:&quot;1&quot;}}] " CostData="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
	<Setting DataName="hero" Key="1" CompoundData="[{&quot;skill&quot;:{&quot;hero&quot;:&quot;1&quot;}}] " CostData="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
</Settings>
