<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="10001" Type="1" ItemType="clothes" CornerMark="4" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_gaibang.SG_icon_fz_gaibang" Name="丐帮之首" Describe="侠客服饰" BuyMaxNum="1" BuyItem="[{&quot;clothes&quot;:{&quot;id&quot;:&quot;20005&quot;|&quot;count&quot;:&quot;1&quot;}}]" Money="[{&quot;money&quot;:{&quot;money&quot;:&quot;90&quot;}}]" Diamond="[{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;100&quot;}}]" DiscountMoney="[{&quot;money&quot;:{&quot;money&quot;:&quot;60&quot;}}]" DiscountDiamond="[{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;90&quot;}}]" StartDiscountTime="" EndDiscountTime="" StartBuyTime="" EndBuyTime="" LimitType="0" LimitCount="1" CostGive="diamond" MaxOwn="1" GiveMailid="3" ReturnMailId="4" Version="1" GiveFriendLiness="100"/>
	<Setting Id="10002" Type="1" ItemType="clothes" CornerMark="4" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_006.SG_icon_fz_006" Name="塞外独狼" Describe="侠客服饰" BuyMaxNum="1" BuyItem="[{&quot;clothes&quot;:{&quot;id&quot;:&quot;20006&quot;|&quot;count&quot;:&quot;1&quot;}}]" Money="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]" Diamond="[{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;18&quot;}}]" DiscountMoney="[{&quot;money&quot;:{&quot;money&quot;:&quot;60&quot;}}]" DiscountDiamond="[{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;90&quot;}}]" StartDiscountTime="" EndDiscountTime="" StartBuyTime="" EndBuyTime="" LimitType="0" LimitCount="1" CostGive="diamond" MaxOwn="0" GiveMailid="3" ReturnMailId="4" Version="1" GiveFriendLiness="100"/>
	<Setting Id="10003" Type="1" ItemType="clothes" CornerMark="4" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_qigai.SG_icon_fz_qigai" Name="我佛慈悲" Describe="侠客服饰" BuyMaxNum="1" BuyItem="[{&quot;clothes&quot;:{&quot;id&quot;:&quot;20007&quot;|&quot;count&quot;:&quot;1&quot;}}]" Money="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]" Diamond="[{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;100&quot;}}]" DiscountMoney="[{&quot;money&quot;:{&quot;money&quot;:&quot;60&quot;}}]" DiscountDiamond="[{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;90&quot;}}]" StartDiscountTime="" EndDiscountTime="" StartBuyTime="" EndBuyTime="" LimitType="0" LimitCount="1" CostGive="diamond" MaxOwn="0" GiveMailid="3" ReturnMailId="4" Version="1" GiveFriendLiness="100"/>
</Settings>
