/*自定义样式统一类文件*/
/*头部样式*/
#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:gray;
    opacity: 0.3;
}
#loading{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
#loading .loading-indicator{
    background:#ccc;
    color:#444;
    font:bold 20px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    height:auto;
}
#loading-msg {
    font: normal 18px arial,tahoma,sans-serif;
}

.fl{float:left;}
.fr{float:right;}
.wd100{width:100px;}
