<?xml version='1.0' encoding='utf-8' ?>
<Config>	

	<!-- TCPServer -->
	<!-- LocalIp 内网ip -->
	<!-- InteranetIp 外网ip -->
	<!-- Type 端口计算类型 0=固定端口 1=由id计算 2=共享内存计算 -->
	<!-- Port 端口 设置为0会根据服务器id动态计算出一个端口-->
	<!-- FixPort 是否是固定端口 1 表示固定, 0 表示动态生产端口号 -->
	<!-- MaxConnection 最大连接数( 暂时无用 ) -->
	<!-- TimeOut 重连超时时间( 暂时无用 ) -->
	<!-- MaxQueue 最大消息队列 -->
	<Listen LocalIp="0.0.0.0" InteranetIp="0.0.0.0" Type="2" Port="0" MaxConnection="3000" TimeOut="10000" MaxQueue="100"/>

	<!-- TCPClient -->
	<!-- Master Master服务器地址 -->
	<!-- name 服务器名字 -->
	<Master Name="zone"/>

	<!-- TCPClient -->
	<!-- Master Master服务器地址 -->
	<!-- Ip 连接地址 -->
	<!-- Port 连接端口 -->
	<!-- Type 服务器类型 -->
	<!-- ID 服务器id -->
	<!-- Name 服务器名字 -->
	<Connections>
		<Connection Name="zone" Type="game"/>
	</Connections>
</Config>

