<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting UseType="0" Id="1" ParentName="totalscore" DataName="count" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="30" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="2" ParentName="totalscore" DataName="count" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="100" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="3" ParentName="totalscore" DataName="count" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="500" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="4" ParentName="totalscore" DataName="count" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="1000" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="5" ParentName="totalscore" DataName="victory" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="1" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="6" ParentName="totalscore" DataName="victory" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="5" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="7" ParentName="totalscore" DataName="victory" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="20" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="8" ParentName="totalscore" DataName="victory" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="50" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="9" ParentName="totalscore" DataName="topten" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="10" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="10" ParentName="totalscore" DataName="topten" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="35" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="11" ParentName="totalscore" DataName="topten" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="150" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="0" Id="12" ParentName="totalscore" DataName="topten" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="0" DoneType="11" DoneValue="300" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="2" Id="13" ParentName="recent" DataName="kill" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="10" DoneType="11" DoneValue="1" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="2" Id="14" ParentName="recent" DataName="kill" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="10" DoneType="11" DoneValue="5" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="2" Id="15" ParentName="recent" DataName="kill" DataKey="0" TriggerType="1" TriggerValue="0" Operate="1" UseValue="10" DoneType="11" DoneValue="20" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
	<Setting UseType="2" Id="16" ParentName="recent" DataName="kill" DataKey="0" TriggerType="3" TriggerValue="0" Operate="1" UseValue="30" DoneType="11" DoneValue="30" Rewards="[{&quot;money&quot;:&quot;50&quot;}]"/>
</Settings>
