<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Class="Global" Name="basic" Type="object" Comment="基础属性" Element="" InitValue="" ContainClass="BasicPlayer" KeyName="id" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Global" Name="player" Type="object" Comment="玩家类属性" Element="" InitValue="" ContainClass="Player" KeyName="id" ConfigKeyName="" Show="1" Multiple="1" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="id" Type="uint64" Comment="玩家id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="name" Type="string" Comment="玩家名字" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="sex" Type="uint32" Comment="玩家性别" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="status" Type="uint32" Comment="玩家状态" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="statustime" Type="uint64" Comment="玩家状态时间" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="serverid" Type="uint32" Comment="玩家所在服务器id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="id" Type="uint64" Comment="玩家id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="basic" Type="object" Comment="玩家基本属性" Element="" InitValue="" ContainClass="BasicPlayer" KeyName="id" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="account" Type="string" Comment="玩家账号(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="accountid" Type="uint64" Comment="玩家账号id(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="channel" Type="uint32" Comment="玩家渠道id(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="gateid" Type="uint64" Comment="玩家所在的gateid(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="birthday" Type="uint64" Comment="创建时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="onlinetime" Type="uint64" Comment="本次上线时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="offlinetime" Type="uint64" Comment="上次下线时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="totaltime" Type="uint64" Comment="游戏内在线总时长(服务器使用，做一些成就和统计)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="note" Type="record" Comment="玩家记录id(服务器使用)" Element="" InitValue="" ContainClass="Note" KeyName="id" ConfigKeyName="id" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="mail" Type="record" Comment="玩家邮件列表" Element="" InitValue="" ContainClass="Mail" KeyName="id" ConfigKeyName="id" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="maxmailid" Type="uint64" Comment="最大邮件id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="item" Type="record" Comment="玩家道具列表" Element="道具" InitValue="" ContainClass="Item" KeyName="guid" ConfigKeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="hero" Type="record" Comment="玩家英雄列表" Element="英雄" InitValue="" ContainClass="Hero" KeyName="id" ConfigKeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="skin" Type="record" Comment="玩家皮肤列表" Element="皮肤" InitValue="" ContainClass="Skin" KeyName="id" ConfigKeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="achieve" Type="record" Comment="成就列表" Element="" InitValue="" ContainClass="Achieve" KeyName="id" ConfigKeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="task" Type="record" Comment="任务列表" Element="" InitValue="" ContainClass="Task" KeyName="id" ConfigKeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="signin" Type="object" Comment="签到信息" Element="" InitValue="" ContainClass="SignIn" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Note" Name="id" Type="uint32" Comment="服务器记录id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Note" Name="value" Type="uint64" Comment="服务器记录值" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Hero" Name="id" Type="uint32" Comment="模型id" Element="id" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Hero" Name="skinid" Type="uint32" Comment="穿戴皮肤id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Hero" Name="time" Type="uint64" Comment="有效时间" Element="有效时间" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Hero" Name="usecount" Type="uint32" Comment="使用场次" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Hero" Name="skillid" Type="uint32" Comment="默认的召唤师技能" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Skin" Name="id" Type="uint32" Comment="皮肤配置id" Element="id" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Skin" Name="time" Type="uint64" Comment="皮肤到期时间, 0永久" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Item" Name="guid" Type="uint64" Comment="道具guid" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Item" Name="id" Type="uint32" Comment="道具配置id" Element="id" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Item" Name="count" Type="uint32" Comment="道具数量" Element="数量" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Item" Name="time" Type="uint64" Comment="道具到期时间, 0永久" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="SignIn" Name="sevenday" Type="uint32" Comment="7天签到数据(累计的天数)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="SignIn" Name="sevenreward" Type="uint32" Comment="7天领奖数据(按位累计)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="id" Type="uint64" Comment="邮件id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="type" Type="uint32" Comment="邮件类型" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="flag" Type="uint32" Comment="邮件标识服务器使用( 1 全局邮件 2 个人邮件)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="status" Type="uint32" Comment="邮件状态(未读/已读/已经领取)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="sendid" Type="uint64" Comment="邮件发送者id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="sendname" Type="string" Comment="邮件发送者名字" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="sendtime" Type="uint64" Comment="邮件发送时间" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="validtime" Type="uint32" Comment="邮件有效时间" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="title" Type="string" Comment="邮件标题" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="content" Type="string" Comment="邮件内容" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="sex" Type="uint32" Comment="玩家性别" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="reward" Type="string" Comment="邮件奖励(字串形式, 需要解析)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Mail" Name="configid" Type="uint32" Comment="邮件配置表id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Achieve" Name="id" Type="uint32" Comment="成就id" Element="id" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Achieve" Name="value" Type="uint32" Comment="成就完成数值" Element="成就数值" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Achieve" Name="status" Type="uint32" Comment="成就完成情况" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Task" Name="id" Type="uint32" Comment="任务id" Element="id" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Task" Name="value" Type="uint32" Comment="任务完成数值" Element="任务数值" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Task" Name="status" Type="uint32" Comment="任务完成情况" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Title" Name="id" Type="uint32" Comment="称号id" Element="id" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Store" Name="id" Type="uint32" Comment="商品id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Store" Name="count" Type="uint32" Comment="已经购买的道具数量" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
</Settings>
