<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="1" DataName="skill" DataKey="1" CostData="[{&quot;money&quot;:&quot;10000&quot;}]" CompoundData="[{&quot;skill&quot;:{&quot;id&quot;:&quot;1&quot;}}] "/>
	<Setting Id="2" DataName="hero" DataKey="1" CostData="[{&quot;money&quot;:&quot;10000&quot;}]" CompoundData="[{&quot;skill&quot;:{&quot;hero&quot;:&quot;1&quot;}}] "/>
</Settings>
