<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting OverlayType="1" Id="1" Type="101" Name="铜钱卡" Describe="可以兑换铜钱*1000" CanDirectUse="1" Quality="1" Icon="/Game/Art/Image/Hallsupplement/Frames/ST_supplement_Mall_commodity_icon_04.ST_supplement_Mall_commodity_icon_04" UseCount="1" OverlayValue="10" TimeType="0" TimeValue="0" MailId="" RewardType="1" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;1000&quot;}}]" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="2" Type="101" Name="任务道具" Describe="可完成XX任务" CanDirectUse="0" Quality="0" Icon="/Game/Art/Image/Hallsupplement/Frames/ST_supplement_Hall_icon_message_selected.ST_supplement_Hall_icon_message_selected" UseCount="0" OverlayValue="1" TimeType="0" TimeValue="0" MailId="" RewardType="" RewardValue="" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="3" Type="101" Name="张小贱礼盒" Describe="可开出奖励" CanDirectUse="1" Quality="2" Icon="/Game/Art/Image/Hallsupplement/Frames/ST_supplement_Mall_commodity_icon_08.ST_supplement_Mall_commodity_icon_08" UseCount="1" OverlayValue="10" TimeType="0" TimeValue="0" MailId="" RewardType="1" RewardValue="[{&quot;clothes&quot;:{&quot;id&quot;:&quot;20001&quot;|&quot;count&quot;:&quot;1&quot;}}|{&quot;money&quot;:{&quot;money&quot;:&quot;9999&quot;}}]" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="4" Type="101" Name="杨四龙的刀" Describe="很厉害" CanDirectUse="0" Quality="1" Icon="/Game/Art/vol2Image/TempTex/Frames/ST_tticon_icon_dj_hw02.ST_tticon_icon_dj_hw02" UseCount="0" OverlayValue="1" TimeType="0" TimeValue="0" MailId="" RewardType="" RewardValue="" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="5" Type="101" Name="龙少的剑" Describe="很厉害呀" CanDirectUse="0" Quality="1" Icon="/Game/Art/vol2Image/TempTex/Frames/ST_tticon_icon_dj_khbd.ST_tticon_icon_dj_khbd" UseCount="0" OverlayValue="1" TimeType="0" TimeValue="0" MailId="" RewardType="" RewardValue="" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="6" Type="101" Name="龙哥的长枪" Describe="很厉害呀呀" CanDirectUse="0" Quality="1" Icon="/Game/Art/vol2Image/TempTex/Frames/ST_tticon_icon_dj_mb.ST_tticon_icon_dj_mb" UseCount="0" OverlayValue="1" TimeType="0" TimeValue="0" MailId="" RewardType="" RewardValue="" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="7" Type="101" Name="礼包放大版" Describe="很厉害呀呀" CanDirectUse="1" Quality="2" Icon="/Game/Art/Image/Hallsupplement/Frames/ST_supplement_Mall_commodity_icon_06.ST_supplement_Mall_commodity_icon_06" UseCount="1" OverlayValue="10" TimeType="0" TimeValue="0" MailId="" RewardType="1" RewardValue="[{&quot;item&quot;:{&quot;id&quot;:&quot;1&quot;|&quot;count&quot;:&quot;1&quot;}}|{&quot;clothes&quot;:{&quot;id&quot;:&quot;20003&quot;|&quot;count&quot;:&quot;1&quot;}}|{&quot;diamond&quot;:{&quot;diamond&quot;:&quot;999&quot;}}]" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
	<Setting OverlayType="1" Id="8" Type="101" Name="礼包缩小版" Describe="很厉害呀呀" CanDirectUse="1" Quality="2" Icon="/Game/Art/Image/Hallsupplement/Frames/ST_supplement_Mall_commodity_icon_07.ST_supplement_Mall_commodity_icon_07" UseCount="1" OverlayValue="10" TimeType="0" TimeValue="0" MailId="" RewardType="1" RewardValue="[{&quot;item&quot;:{&quot;id&quot;:&quot;4&quot;|&quot;count&quot;:&quot;1&quot;}}|{&quot;item&quot;:{&quot;id&quot;:&quot;5&quot;|&quot;count&quot;:&quot;1&quot;}}|{&quot;money&quot;:{&quot;money&quot;:&quot;10001&quot;}}]" LuaFile="" AddFunction="" UseFunction="" RemoveFunction=""/>
</Settings>
