<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="转发集群名字" Channel="0" Service="0" Name="clustername" Key="" Value="route"/>
	<Setting Description="转发集群秘钥" Channel="0" Service="0" Name="clusterkey" Key="" Value="route@kframe,./"/>
	<Setting Description="角色名字最大长度" Channel="0" Service="0" Name="playernamelength" Key="" Value="16"/>
	<Setting Description="玩家掉线保存时间( 单位: 毫秒 )" Channel="0" Service="0" Name="disconnettime" Key="" Value="60000"/>
	<Setting Description="玩家定时保存数据库时间( 单位: 毫秒 )" Channel="0" Service="0" Name="playersavetime" Key="" Value="60000"/>
</Settings>
