<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting DataListName="friendlist" Describe="好友配置" Name="friend" MaxCount="100" BothWay="1" NeedUpdate="1" OnlineLoad="1" InviteListCount="20" InviteKeepTime="3600" InviteDataName="friendinvite" InviteListName="friendinvitelist" RefuseName="refusefriend"/>
</Settings>
