<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="20001" Name="大漠儿郎" Describe="侠客服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_R001wc.SG_icon_fz_R001wc"/>
	<Setting Id="20002" Name="道教祖师" Describe="侠客服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_R004wc.SG_icon_fz_R004wc"/>
	<Setting Id="20003" Name="白蝶翩跹" Describe="侠女服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_R002wc.SG_icon_fz_R002wc"/>
	<Setting Id="20004" Name="绛衣胜火" Describe="侠女服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_R00wc.SG_icon_fz_R00wc"/>
	<Setting Id="20005" Name="丐帮之首" Describe="侠客服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_gaibang.SG_icon_fz_gaibang"/>
	<Setting Id="20006" Name="塞外独狼" Describe="侠客服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_006.SG_icon_fz_006"/>
	<Setting Id="20007" Name="我佛慈悲" Describe="侠客服饰" Quality="1" Icon="/Game/Art/Item/Item/Frames/SG_icon_fz_qigai.SG_icon_fz_qigai"/>
</Settings>
