<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting StartTime="" Description="每日登陆奖励" Id="1" ParentName="player" DataName="onlinetime" DataKey="0" Level="0" Receive="0" HandleType="1" EndTime="" TriggerType="3" TriggerValue="0" OperateType="3" UseType="1" UseValue="1" DoneType="11" DoneValue="1" Rewards="[{&quot;money&quot;:&quot;50&quot;}]" NextId="0" NextValue="0" LuaFile="" LuaFunction=""/>
	<Setting StartTime="0.5" Description="12-13点登录奖励" Id="2" ParentName="player" DataName="onlinetime" DataKey="0" Level="0" Receive="0" HandleType="1" EndTime="0.541666666666667" TriggerType="3" TriggerValue="0" OperateType="3" UseType="1" UseValue="1" DoneType="11" DoneValue="1" Rewards="[{&quot;money&quot;:&quot;50&quot;}]" NextId="0" NextValue="0" LuaFile="" LuaFunction=""/>
	<Setting StartTime="" Description="消耗100金币" Id="3" ParentName="player" DataName="money" DataKey="0" Level="0" Receive="0" HandleType="1" EndTime="" TriggerType="2" TriggerValue="0" OperateType="1" UseType="1" UseValue="0" DoneType="11" DoneValue="100" Rewards="[{&quot;money&quot;:&quot;50&quot;}]" NextId="0" NextValue="0" LuaFile="" LuaFunction=""/>
</Settings>
