<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting EndTime="" Description="每日登陆奖励" Id="1" Type="1" ParentName="player" DataName="onlinetime" DataKey="0" Receive="0" StartTime="" Limits="" TriggerType="3" TriggerValue="0" Operate="3" UseType="1" UseValue="1" DoneType="11" DoneValue="1" Rewards="[{&quot;money&quot;:&quot;50&quot;}]" NextId="0" NextValue="0" LuaFile="" LuaFunction=""/>
	<Setting EndTime="13:00" Description="12-13点登录奖励" Id="2" Type="1" ParentName="player" DataName="onlinetime" DataKey="0" Receive="0" StartTime="12:00" Limits="" TriggerType="3" TriggerValue="0" Operate="3" UseType="1" UseValue="1" DoneType="11" DoneValue="1" Rewards="[{&quot;money&quot;:&quot;50&quot;}]" NextId="0" NextValue="0" LuaFile="" LuaFunction=""/>
	<Setting EndTime="" Description="消耗100金币" Id="3" Type="1" ParentName="player" DataName="money" DataKey="0" Receive="0" StartTime="" Limits="" TriggerType="2" TriggerValue="0" Operate="1" UseType="1" UseValue="0" DoneType="11" DoneValue="100" Rewards="[{&quot;money&quot;:&quot;50&quot;}]" NextId="0" NextValue="0" LuaFile="" LuaFunction=""/>
</Settings>
