<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Class="Global" Name="basic" Type="object" Comment="基础属性" Element="" InitValue="" ContainClass="BasicPlayer" KeyName="id" ConfigKeyName="" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Global" Name="player" Type="object" Comment="玩家类属性" Element="" InitValue="" ContainClass="Player" KeyName="id" ConfigKeyName="" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="id" Type="uint64" Comment="玩家id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="name" Type="string" Comment="玩家名字" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="sex" Type="uint32" Comment="玩家性别" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="status" Type="uint32" Comment="玩家状态" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="statustime" Type="uint64" Comment="玩家状态时间" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="BasicPlayer" Name="serverid" Type="uint32" Comment="玩家所在服务器id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="id" Type="uint64" Comment="玩家id" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="basic" Type="object" Comment="玩家基本属性" Element="" InitValue="" ContainClass="BasicPlayer" KeyName="id" ConfigKeyName="" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="account" Type="string" Comment="玩家账号(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="accountid" Type="uint64" Comment="玩家账号id(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="channel" Type="uint32" Comment="玩家渠道id(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="gateid" Type="uint64" Comment="玩家所在的gateid(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="birthday" Type="uint64" Comment="创建时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="onlinetime" Type="uint64" Comment="本次上线时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="offlinetime" Type="uint64" Comment="上次下线时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting Class="Player" Name="totaltime" Type="uint64" Comment="游戏内在线总时长(服务器使用，做一些成就和统计)" Element="" InitValue="" ContainClass="" KeyName="" ConfigKeyName="" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
</Settings>
