<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="1" Level="0" HandleType="1" ParentName="totalscore" DataName="count" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="30" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;50&quot;}}]"/>
	<Setting Id="2" Level="0" HandleType="1" ParentName="totalscore" DataName="count" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="100" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
	<Setting Id="3" Level="0" HandleType="1" ParentName="totalscore" DataName="count" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="500" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;500&quot;}}]"/>
	<Setting Id="4" Level="0" HandleType="1" ParentName="totalscore" DataName="count" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="1000" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;1000&quot;}}]"/>
	<Setting Id="5" Level="0" HandleType="1" ParentName="totalscore" DataName="victory" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="1" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
	<Setting Id="6" Level="0" HandleType="1" ParentName="totalscore" DataName="victory" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="5" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;300&quot;}}]"/>
	<Setting Id="7" Level="0" HandleType="1" ParentName="totalscore" DataName="victory" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="20" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;600&quot;}}]"/>
	<Setting Id="8" Level="0" HandleType="1" ParentName="totalscore" DataName="victory" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="50" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;950&quot;}}]"/>
	<Setting Id="9" Level="0" HandleType="1" ParentName="totalscore" DataName="topten" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="10" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;150&quot;}}]"/>
	<Setting Id="10" Level="0" HandleType="1" ParentName="totalscore" DataName="topten" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="35" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;250&quot;}}]"/>
	<Setting Id="11" Level="0" HandleType="1" ParentName="totalscore" DataName="topten" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="150" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;500&quot;}}]"/>
	<Setting Id="12" Level="0" HandleType="1" ParentName="totalscore" DataName="topten" TriggerType="1" TriggerValue="0" UseType="0" UseValue="0" Key="0" Operate="1" DoneValue="300" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;950&quot;}}]"/>
	<Setting Id="13" Level="0" HandleType="1" ParentName="recent" DataName="kill" TriggerType="1" TriggerValue="0" UseType="2" UseValue="10" Key="0" Operate="1" DoneValue="1" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;200&quot;}}]"/>
	<Setting Id="14" Level="0" HandleType="1" ParentName="recent" DataName="kill" TriggerType="1" TriggerValue="0" UseType="2" UseValue="10" Key="0" Operate="1" DoneValue="5" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;500&quot;}}]"/>
	<Setting Id="15" Level="0" HandleType="1" ParentName="recent" DataName="kill" TriggerType="1" TriggerValue="0" UseType="2" UseValue="10" Key="0" Operate="1" DoneValue="20" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;700&quot;}}]"/>
	<Setting Id="16" Level="0" HandleType="1" ParentName="recent" DataName="kill" TriggerType="3" TriggerValue="0" UseType="2" UseValue="30" Key="0" Operate="1" DoneValue="30" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
	<Setting Id="17" Level="0" HandleType="2" ParentName="" DataName="" TriggerType="3" TriggerValue="0" UseType="2" UseValue="10" Key="0" Operate="1" DoneValue="10" DoneType="11" Rewards="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
</Settings>
