<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="1" Level="0" ParentName="player" DataName="diamond" TriggerType="1" TriggerValue="1" UseType="1" UseValue="0" Key="0" Operate="1" DoneValue="50" DoneType="11" Rewards="[{&quot;toastcount&quot;:{&quot;toastcount&quot;:&quot;1&quot;}}]"/>
</Settings>
