<? xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<!-- MinOpenRoomCount 最小开启战场的阵营数量 -->
	<!-- RoomValidTime 战场的有效时间, 单位: 分钟 -->
	<!-- WaitEnterTime 等待进入时间(等待场景), 单位: 分钟 -->
	<Setting MinOpenRoomCount="2" RoomValidTime="60" WaitEnterTime="2" RewardFile="./config/battlereward.config"/>
	
	<!-- 评分计算参数，hurt*造成敌对伤害，kill*杀人数，survival*存活时间，ranking/名次，topone吃鸡奖励分，teamhurt*队友伤害，teamkill*击杀队友数 -->
	<Params>
		<Item Name="hurt" Value="1" />
		<Item Name="kill" Value="100" />
		<Item Name="survival" Value="0.5" />
		<Item Name="ranking" Value="500" />
		<Item Name="topone" Value="1000" />
		<Item Name="teamhurt" Value="-2" />
		<Item Name="teamkill" Value="-500" />
	</Params>
	
</Settings>
