<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting MatchId="1" RewardKey="10" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;90&quot;}}]"/>
	<Setting MatchId="1" RewardKey="20" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;91&quot;}}]"/>
	<Setting MatchId="1" RewardKey="30" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;92&quot;}}]"/>
	<Setting MatchId="1" RewardKey="40" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;93&quot;}}]"/>
	<Setting MatchId="1" RewardKey="50" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;94&quot;}}]"/>
	<Setting MatchId="1" RewardKey="60" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;95&quot;}}]"/>
	<Setting MatchId="1" RewardKey="999" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;96&quot;}}]"/>
	<Setting MatchId="2" RewardKey="10" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;97&quot;}}]"/>
	<Setting MatchId="2" RewardKey="20" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;98&quot;}}]"/>
	<Setting MatchId="2" RewardKey="30" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;99&quot;}}]"/>
	<Setting MatchId="2" RewardKey="40" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;100&quot;}}]"/>
	<Setting MatchId="2" RewardKey="50" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;101&quot;}}]"/>
	<Setting MatchId="2" RewardKey="60" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;102&quot;}}]"/>
	<Setting MatchId="2" RewardKey="70" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;103&quot;}}]"/>
	<Setting MatchId="2" RewardKey="999" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;104&quot;}}]"/>
	<Setting MatchId="3" RewardKey="10" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;105&quot;}}]"/>
	<Setting MatchId="3" RewardKey="20" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;106&quot;}}]"/>
	<Setting MatchId="3" RewardKey="30" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;107&quot;}}]"/>
	<Setting MatchId="3" RewardKey="40" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;108&quot;}}]"/>
	<Setting MatchId="3" RewardKey="50" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;109&quot;}}]"/>
	<Setting MatchId="3" RewardKey="60" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;110&quot;}}]"/>
	<Setting MatchId="3" RewardKey="70" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;111&quot;}}]"/>
	<Setting MatchId="3" RewardKey="80" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;112&quot;}}]"/>
	<Setting MatchId="3" RewardKey="999" RewardValue="[{&quot;money&quot;:{&quot;money&quot;:&quot;113&quot;}}]"/>
</Settings>
