<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<Channels>
		<!-- 内部渠道 -->
		<Channel Id="1" LoginUrl="" PayUrl="" AppId="1" AppKey="abc" Release="1" Debug="1"/>

		<!-- 微信 -->
		<Channel Id="2" LoginUrl="https://api.weixin.qq.com" PayUrl="" AppId="wx7cc50f8b4a985cc4" AppKey="3af982b357abf863048b98200a491506" Release="1" Debug="1"/>
	</Channels>
</Config>

