<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!--ServerId 服务器id -->
	<!--ZoneId 逻辑分区id -->
	<Zone Id="1">
		<Server Id="12001"/>
	</Zone>

	<Zone Id="2">
		<Server Id="12002"/>
	</Zone>

	<Zone Id="3">
		<Server Id="12003"/>
	</Zone>

	<Zone Id="4">
		<Server Id="12004"/>
	</Zone>

	<Zone Id="5">
		<Server Id="12005"/>
	</Zone>

	<Zone Id="6">
		<Server Id="12006"/>
	</Zone>

	<Zone Id="7">
		<Server Id="12007"/>
	</Zone>

	<Zone Id="8">
		<Server Id="12008"/>
	</Zone>

	<Zone Id="9">
		<Server Id="12009"/>
	</Zone>

	<Zone Id="10">
		<Server Id="12010"/>
	</Zone>

	<Zone Id="11">
		<Server Id="12011"/>
	</Zone>

	<Zone Id="12">
		<Server Id="12012"/>
	</Zone>

	<Zone Id="13">
		<Server Id="12013"/>
	</Zone>

	<Zone Id="14">
		<Server Id="12014"/>
	</Zone>

	<Zone Id="15">
		<Server Id="12015"/>
	</Zone>

	<Zone Id="16">
		<Server Id="12016"/>
	</Zone>

	<Zone Id="17">
		<Server Id="12017"/>
	</Zone>

	<Zone Id="18">
		<Server Id="12018"/>
	</Zone>

	<Zone Id="19">
		<Server Id="12019"/>
	</Zone>

	<Zone Id="20">
		<Server Id="12020"/>
	</Zone>
</Config>







