<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Name="Success" Result="1" MessageType="Info" Description="执行成功" ApplicationScene="系统:执行成功" DurationTime="3" CallBack=""/>
	<Setting Name="SignError" Result="2" MessageType="Info" Description="Http签名错误" ApplicationScene="系统：Http签名错误" DurationTime="3" CallBack=""/>
	<Setting Name="WeiXinError" Result="3" MessageType="Info" Description="微信服务器访问失败" ApplicationScene="系统：微信服务器访问失败" DurationTime="3" CallBack=""/>
	<Setting Name="WeiXinCodeError" Result="4" MessageType="Info" Description="获取微信Token失败" ApplicationScene="系统：获取微信Token失败" DurationTime="3" CallBack=""/>
	<Setting Name="WeiXinTokenTimeout" Result="5" MessageType="Info" Description="微信Token过期" ApplicationScene="系统：微信Token过期" DurationTime="3" CallBack=""/>
	<Setting Name="WeiXinTokenError" Result="6" MessageType="Info" Description="微信Token错误" ApplicationScene="系统：微信Token错误" DurationTime="3" CallBack=""/>
	<Setting Name="WeiXinUserError" Result="7" MessageType="Info" Description="微信用户数据读取失败" ApplicationScene="系统：微信用户数据读取失败" DurationTime="3" CallBack=""/>
	<Setting Name="ChannelError" Result="8" MessageType="Info" Description="错误的渠道信息" ApplicationScene="系统：错误的渠道信息" DurationTime="3" CallBack=""/>
	<Setting Name="ChannelNotOpen" Result="9" MessageType="Info" Description="渠道没有开放" ApplicationScene="系统：渠道没有开放" DurationTime="3" CallBack=""/>
	<Setting Name="WorldSystemBusy" Result="10" MessageType="Info" Description="世界服务器出错了" ApplicationScene="系统：世界服务器出错了" DurationTime="3" CallBack=""/>
	<Setting Name="LoginSystemBusy" Result="11" MessageType="Info" Description="登录服务器出错了" ApplicationScene="系统：登录服务器出错了" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotFindProxy" Result="12" MessageType="Info" Description="没有可登录的节点" ApplicationScene="系统：没有可登录的节点" DurationTime="3" CallBack=""/>
	<Setting Name="PlatformBusy" Result="13" MessageType="Info" Description="平台服务器出错了" ApplicationScene="系统：平台服务器出错了" DurationTime="3" CallBack=""/>
	<Setting Name="PlatformDatabaseBusy" Result="14" MessageType="Info" Description="平台数据库出错了" ApplicationScene="系统：平台数据库出错了" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotFindGame" Result="15" MessageType="Info" Description="没有可登录的游戏服务器" ApplicationScene="系统：没有可登录的游戏服务器" DurationTime="3" CallBack=""/>
	<Setting Name="LoginTokenError" Result="16" MessageType="Info" Description="登录token错误" ApplicationScene="登录：登录token错误" DurationTime="3" CallBack=""/>
	<Setting Name="LoadDataFailed" Result="17" MessageType="Info" Description="加载角色数据失败" ApplicationScene="系统：加载角色数据失败" DurationTime="3" CallBack=""/>
	<Setting Name="HttpDataError" Result="18" MessageType="Info" Description="http内部数据错误" ApplicationScene="系统：http内部数据错误" DurationTime="3" CallBack=""/>
	<Setting Name="LoginDatabaseError" Result="19" MessageType="Info" Description="登录数据库错误" ApplicationScene="系统：登录数据库错误" DurationTime="3" CallBack=""/>
	<Setting Name="CreatePlayerError" Result="20" MessageType="Info" Description="创建角色失败" ApplicationScene="创建角色：创建角色失败" DurationTime="3" CallBack=""/>
	<Setting Name="SexSetOK" Result="21" MessageType="Info" Description="设置性别成功" ApplicationScene="个人信息：设置性别成功" DurationTime="3" CallBack=""/>
	<Setting Name="NameAlreadySet" Result="22" MessageType="Info" Description="<SGText>名字已经存在<SGText/>" ApplicationScene="创建角色|个人信息：不能重复设置名字" DurationTime="3" CallBack=""/>
	<Setting Name="NameAlreadyExist" Result="23" MessageType="Info" Description="<SGText>%s<SGText/><SGText>名字已经存在<SGText/>" ApplicationScene="创建角色|个人信息：创建角色-名字已存在" DurationTime="3" CallBack=""/>
	<Setting Name="PublicDatabaseError" Result="24" MessageType="Info" Description="公共数据库错误" ApplicationScene="系统：公共数据库错误" DurationTime="3" CallBack=""/>
	<Setting Name="NameSetOK" Result="25" MessageType="Info" Description="名字设置成功" ApplicationScene="创建角色|个人信息：名字设置成功" DurationTime="3" CallBack=""/>
	<Setting Name="AccountIsEmpty" Result="26" MessageType="Info" Description="账号不能为空" ApplicationScene="登录界面：账号不能为空" DurationTime="3" CallBack=""/>
	<Setting Name="CreateRoleAlready" Result="27" MessageType="Info" Description="不能重复创建角色" ApplicationScene="创建角色：不能重复创建角色" DurationTime="3" CallBack=""/>
	<Setting Name="CreateRoleOK" Result="28" MessageType="Info" Description="创建角色成功" ApplicationScene="创建角色：创建角色成功" DurationTime="3" CallBack=""/>
	<Setting Name="LoginAlreadyOnline" Result="29" MessageType="Info" Description="你已经在线, 请重新登录" ApplicationScene="系统：你已经在线, 请重新登录" DurationTime="3" CallBack=""/>
	<Setting Name="ChangeIconOK" Result="30" MessageType="Info" Description="修改头像成功" ApplicationScene="个人信息:修改头像成功" DurationTime="3" CallBack=""/>
	<Setting Name="NameEmpty" Result="31" MessageType="Info" Description="名字不能为空" ApplicationScene="创建角色|个人信息：名字不能为空" DurationTime="3" CallBack=""/>
	<Setting Name="ChangeMottoOK" Result="32" MessageType="Info" Description="<SGText>更改签名成功<SGText/>" ApplicationScene="个人信息：修改个性签名成功" DurationTime="3" CallBack=""/>
	<Setting Name="ModuleIdNotFind" Result="33" MessageType="Info" Description="未获得该模型" ApplicationScene="未获得该模型" DurationTime="3" CallBack=""/>
	<Setting Name="SetModelClothesOK" Result="34" MessageType="Info" Description="设置默认时装设置成功" ApplicationScene="背包：设置默认时装设置成功" DurationTime="3" CallBack=""/>
	<Setting Name="ChangeIconBoxOK" Result="35" MessageType="Info" Description="修改头像框成功" ApplicationScene="个人信息：修改头像框成功" DurationTime="3" CallBack=""/>
	<Setting Name="DataSystemBusy" Result="36" MessageType="Info" Description="数据服务器出错, 请稍后登录" ApplicationScene="登录|系统：数据服务器出错, 请稍后登录" DurationTime="3" CallBack=""/>
	<Setting Name="ActivationAccount" Result="37" MessageType="Info" Description="请先激活账号" ApplicationScene="登录|系统：请先激活账号" DurationTime="3" CallBack=""/>
	<Setting Name="ActivationCodeError" Result="38" MessageType="Info" Description="激活码错误" ApplicationScene="登录|系统|？：激活码错误" DurationTime="3" CallBack=""/>
	<Setting Name="LoginCanNotFindGate" Result="39" MessageType="Info" Description="找不到可登录的服务器" ApplicationScene="登录|系统：找不到可登录的服务器" DurationTime="3" CallBack=""/>
	<Setting Name="TaskIdCanNotFind" Result="40" MessageType="Info" Description="<SGText>任务<SGText/><SGText>%s<SGText/><SGText>配置错误<SGText/>" ApplicationScene="任务：任务配置错误" DurationTime="3" CallBack=""/>
	<Setting Name="TaskNotInValidTime" Result="41" MessageType="Info" Description="任务不在有效时间范围内" ApplicationScene="任务：任务不在有效时间范围内" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotFindPlayer" Result="42" MessageType="Info" Description="玩家数据错误, 请重新登录" ApplicationScene="登录：玩家数据错误, 请重新登录" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotFindTaskData" Result="43" MessageType="Info" Description="你还没有完成该任务" ApplicationScene="任务：你还没有完成该任务" DurationTime="3" CallBack=""/>
	<Setting Name="TaskNotDone" Result="44" MessageType="Info" Description="请先完成任务" ApplicationScene="任务：请先完成任务" DurationTime="3" CallBack=""/>
	<Setting Name="TaskAlreadyReceived" Result="45" MessageType="Info" Description="你已经领取任务奖励" ApplicationScene="任务：你已经领取任务奖励" DurationTime="3" CallBack=""/>
	<Setting Name="TaskReceiveRewardOK" Result="46" MessageType="Info" Description="领取任务奖励成功" ApplicationScene="任务：领取任务奖励成功" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotInquireSelf" Result="47" MessageType="Info" Description="自己的数据不需要查询" ApplicationScene="好友：自己的数据不需要查询" DurationTime="3" CallBack=""/>
	<Setting Name="ActivityIdCanNotFind" Result="48" MessageType="Info" Description="活动配置错误" ApplicationScene="活动：活动配置错误" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotFindActivityType" Result="49" MessageType="Info" Description="还没有完成活动" ApplicationScene="活动：还没有完成活动" DurationTime="3" CallBack=""/>
	<Setting Name="ActivityAlreadyReceived" Result="50" MessageType="Info" Description="你已经领取活动奖励" ApplicationScene="活动：你已经领取活动奖励" DurationTime="3" CallBack=""/>
	<Setting Name="ActivityNotDone" Result="51" MessageType="Info" Description="请先完成活动内容" ApplicationScene="活动：请先完成活动内容" DurationTime="3" CallBack=""/>
	<Setting Name="ActivityReceiveRewardOK" Result="52" MessageType="Info" Description="领取活动奖励成功" ApplicationScene="活动：领取活动奖励成功" DurationTime="3" CallBack=""/>
	<Setting Name="AchieveIdCanNotFind" Result="53" MessageType="Info" Description="<SGText>成就<SGText/><SGText>%s<SGText/><SGText>配置错误<SGText/>" ApplicationScene="成就：成就配置错误" DurationTime="3" CallBack=""/>
	<Setting Name="CanNotFindAchieveData" Result="54" MessageType="Info" Description="你还没有完成成就" ApplicationScene="成就：你还没有完成成就" DurationTime="3" CallBack=""/>
	<Setting Name="AchieveAlreadyReceived" Result="55" MessageType="Info" Description="你已经领取成就奖励" ApplicationScene="成就：你已经领取成就奖励" DurationTime="3" CallBack=""/>
	<Setting Name="AchieveNotDone" Result="56" MessageType="Info" Description="请先完成成就" ApplicationScene="成就：请先完成成就" DurationTime="3" CallBack=""/>
	<Setting Name="AchieveReceiveRewardOK" Result="57" MessageType="Info" Description="领取成就奖励成功" ApplicationScene="成就：领取成就奖励成功" DurationTime="3" CallBack=""/>
	<Setting Name="ReceiveGiftOK" Result="58" MessageType="Info" Description="领取礼包成功" ApplicationScene="邮件：领取礼包成功" DurationTime="3" CallBack=""/>
	<Setting Name="ReceiveGiftFailed" Result="59" MessageType="Info" Description="领取礼包失败" ApplicationScene="邮件：领取礼包失败" DurationTime="3" CallBack=""/>
	<Setting Name="MailNotExist" Result="60" MessageType="Info" Description="邮件不存在" ApplicationScene="邮件：邮件不存在" DurationTime="3" CallBack=""/>
	<Setting Name="MailAlreadyReceived" Result="61" MessageType="Info" Description="邮件奖励已经领取" ApplicationScene="邮件：邮件奖励已经领取" DurationTime="3" CallBack=""/>
	<Setting Name="MailNotHaveReward" Result="62" MessageType="Info" Description="邮件没有奖励" ApplicationScene="邮件：邮件没有奖励" DurationTime="3" CallBack=""/>
	<Setting Name="MailDeleteFailed" Result="63" MessageType="Info" Description="还有奖励没有领取, 删除邮件失败" ApplicationScene="邮件：还有奖励没有领取, 删除邮件失败" DurationTime="3" CallBack=""/>
	<Setting Name="MailTimeOut" Result="64" MessageType="Info" Description="邮件已经过期" ApplicationScene="邮件：邮件已经过期" DurationTime="3" CallBack=""/>
	<Setting Name="ToastSendCountOver" Result="65" MessageType="Info" Description="<SGText>小酌怡情，大饮伤身<SGText/>" ApplicationScene="好友|个人信息：每日敬酒次数已用完" DurationTime="3" CallBack=""/>
	<Setting Name="ToastCanNotRepeat" Result="66" MessageType="Info" Description="<SGText>您今天已经敬过对方了<SGText/>" ApplicationScene="好友|个人信息：不能重复敬酒" DurationTime="3" CallBack=""/>
	<Setting Name="ToastGetCountOver" Result="67" MessageType="Info" Description="<SGText>这位大侠已经不胜酒力了<SGText/>" ApplicationScene="好友|个人信息：每日被敬酒次数已用完" DurationTime="3" CallBack=""/>
	<Setting Name="ToastFailed" Result="68" MessageType="Info" Description="数据库错误, 敬酒失败" ApplicationScene="好友|个人信息：数据库错误, 敬酒失败" DurationTime="3" CallBack=""/>
	<Setting Name="ToastOK" Result="69" MessageType="Info" Description="<SGText>邀酒一盏<SGText/>" ApplicationScene="好友|个人信息：敬酒成功" DurationTime="3" CallBack=""/>
	<Setting Name="MatchAlreadyWait" Result="70" MessageType="Info" Description="<SGText>已发出邀请，请<SGText/><SGText>%s<SGText/><SGText>秒后再邀请<SGText/>" ApplicationScene="组队-10秒内再次点击申请入队" DurationTime="3" CallBack=""/>
	<Setting Name="MatchClusterBusy" Result="71" MessageType="Info" Description="匹配服务器错误, 请稍后重试" ApplicationScene="组队：匹配服务器错误, 请稍后重试" DurationTime="3" CallBack=""/>
	<Setting Name="MatchCanNotFindServer" Result="72" MessageType="Info" Description="找不到可以匹配的服务器" ApplicationScene="组队：找不到可以匹配的服务器" DurationTime="3" CallBack=""/>
	<Setting Name="MatchCanNotFindMatch" Result="73" MessageType="Info" Description="匹配模式错误" ApplicationScene="组队：匹配模式错误" DurationTime="3" CallBack=""/>
	<Setting Name="MatchGroupPlayerLimit" Result="74" MessageType="Info" Description="超过最对最大人数" ApplicationScene="组队：超过最对最大人数" DurationTime="3" CallBack=""/>
	<Setting Name="MatchRequestSuccess" Result="75" MessageType="Info" Description="申请匹配成功,请等待" ApplicationScene="组队：申请匹配成功,请等待" DurationTime="3" CallBack=""/>
	<Setting Name="MatchCancelSuccess" Result="76" MessageType="Info" Description="取消匹配成功" ApplicationScene="组队：取消匹配成功" DurationTime="3" CallBack=""/>
	<Setting Name="FriendInviteOK" Result="77" MessageType="Info" Description="<SGText>知交之请已达<SGText/>" ApplicationScene="好友：向%s发送好友申请成功" DurationTime="3" CallBack=""/>
	<Setting Name="FriendRefuseInvite" Result="78" MessageType="Info" Description="<SGText>其人乐独，来者皆拒<SGText/>" ApplicationScene="好友：%s设置拒绝添加好友" DurationTime="3" CallBack=""/>
	<Setting Name="FriendTargetLimit" Result="79" MessageType="Info" Description="<SGText>知交者重，下回请早<SGText/>" ApplicationScene="好友：对方好友列表已达上限" DurationTime="3" CallBack=""/>
	<Setting Name="FriendSelfLimit" Result="80" MessageType="Info" Description="<SGText>知交有限，不可再交<SGText/>" ApplicationScene="好友：玩家好友列表已达上限" DurationTime="3" CallBack=""/>
	<Setting Name="FriendAlready" Result="81" MessageType="Info" Description="<SGText>与<SGText/><SGText>%s<SGText/><SGText>已经是好友关系<SGText/>" ApplicationScene="好友：%s已经是好友关系" DurationTime="3" CallBack=""/>
	<Setting Name="FriendNotExist" Result="82" MessageType="Info" Description="对方不是你的好友" ApplicationScene="好友：对方不是你的好友" DurationTime="3" CallBack=""/>
	<Setting Name="FriendDelOK" Result="83" MessageType="Info" Description="<SGText>你与<SGText/><SGText>%s<SGText/><SGText>不再是好友了<SGText/>" ApplicationScene="好友：你与<Player id=%s>%s</Player>不再是好友了" DurationTime="3" CallBack=""/>
	<Setting Name="FriendInviteLimit" Result="84" MessageType="Info" Description="<SGText>识其者众，君心难表<SGText/>" ApplicationScene="好友：对方申请列表已达上限" DurationTime="3" CallBack=""/>
	<Setting Name="FriendInviteNotExist" Result="85" MessageType="Info" Description="好友邀请信息不存在" ApplicationScene="好友：好友邀请信息不存在" DurationTime="3" CallBack=""/>
	<Setting Name="MatchNotInMatch" Result="86" MessageType="Info" Description="你已经不在匹配" ApplicationScene="组队：你已经不在匹配" DurationTime="3" CallBack=""/>
	<Setting Name="FriendInviteAlready" Result="87" MessageType="Info" Description="<SGText>君心已表，敬候佳音<SGText/>" ApplicationScene="好友：玩家在对方申请列表" DurationTime="3" CallBack=""/>
	<Setting Name="MatchMustPrepare" Result="88" MessageType="Info" Description="<SGText>有侠友未准备妥当<SGText/>" ApplicationScene="组队：有玩家未准备(队长提示)" DurationTime="3" CallBack=""/>
	<Setting Name="StoreParamError" Result="89" MessageType="Info" Description="<SGText>商品<SGText/><SGText>%s<SGText/><SGText>配置错误<SGText/>" ApplicationScene="商城：商品%s配置错误" DurationTime="3" CallBack=""/>
	<Setting Name="StoreLackCost" Result="90" MessageType="Info" Description="商城购买消耗品花费不足" ApplicationScene="商城：商城购买消耗品花费不足" DurationTime="3" CallBack=""/>
	<Setting Name="StoreLimitError" Result="91" MessageType="Info" Description="已经超过商品限购次数" ApplicationScene="商城：已经超过商品限购次数" DurationTime="3" CallBack=""/>
	<Setting Name="StoreOutOfLimitOwm" Result="92" MessageType="Info" Description="已经拥有物品, 不能购买" ApplicationScene="商城：已经拥有物品, 不能购买" DurationTime="3" CallBack=""/>
	<Setting Name="StoreOutOfLimitDate" Result="93" MessageType="Info" Description="商品限购不在指定日期内" ApplicationScene="商城：商品限购不在指定日期内" DurationTime="3" CallBack=""/>
	<Setting Name="WishOrderEmpty" Result="94" MessageType="Info" Description="心愿单为空" ApplicationScene="商城|个人信息：心愿单为空" DurationTime="3" CallBack=""/>
	<Setting Name="WishOrderNoExist" Result="95" MessageType="Info" Description="心愿单中不存在该物品" ApplicationScene="商城|个人信息：心愿单中不存在该物品" DurationTime="3" CallBack=""/>
	<Setting Name="WishOrderNoStoreId" Result="96" MessageType="Info" Description="添加心愿单失败，未找到该商品" ApplicationScene="商城|个人信息：添加心愿单失败，未找到该商品" DurationTime="3" CallBack=""/>
	<Setting Name="WishOrderHadStoreId" Result="97" MessageType="Info" Description="心愿单中已经存在该商品" ApplicationScene="商城|个人信息：心愿单中已经存在该商品" DurationTime="3" CallBack=""/>
	<Setting Name="WishOrderMaxSize" Result="98" MessageType="Info" Description="心愿单已满" ApplicationScene="商城|个人信息：心愿单已满" DurationTime="3" CallBack=""/>
	<Setting Name="WishOrderStateRepeatSet" Result="99" MessageType="Info" Description="心愿单状态重复设置" ApplicationScene="商城|个人信息：心愿单状态重复设置" DurationTime="3" CallBack=""/>
	<Setting Name="GiveLackCost" Result="100" MessageType="Info" Description="赠送消耗品花费不足" ApplicationScene="商城|个人信息：赠送消耗品花费不足" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesNotExist" Result="101" MessageType="Info" Description="时装不存在" ApplicationScene="商城|背包：时装不存在" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesDataError" Result="102" MessageType="Info" Description="<SGText>时装<SGText/><SGText>%s<SGText/><SGText>配置错误<SGText/>" ApplicationScene="商城|背包：时装%s配置错误" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesModleNotMatch" Result="103" MessageType="Info" Description="<SGText>该套装不适合你<SGText/>" ApplicationScene="商城|背包：时装和模型不匹配" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesDressOK" Result="104" MessageType="Info" Description="时装穿戴成功" ApplicationScene="商城|背包：时装穿戴成功" DurationTime="3" CallBack=""/>
	<Setting Name="ModelNotExist" Result="105" MessageType="Info" Description="模型不存在" ApplicationScene="商城|背包：模型不存在" DurationTime="3" CallBack=""/>
	<Setting Name="ModelChangeOK" Result="106" MessageType="Info" Description="模型修改成功" ApplicationScene="商城|背包：模型修改成功" DurationTime="3" CallBack=""/>
	<Setting Name="ChatByteTooLong" Result="107" MessageType="Info" Description="<SGText>超出<SGText/><SGText>%s<SGText/><SGText>字无法发送<SGText/>" ApplicationScene="聊天-输入字数超出限制" DurationTime="3" CallBack=""/>
	<Setting Name="ChatNotFindPlayer" Result="108" MessageType="Info" Description="你不在聊天室中" ApplicationScene="聊天：你不在聊天室中" DurationTime="3" CallBack=""/>
	<Setting Name="ChatIntervalError" Result="109" MessageType="Info" Description="<SGText>江湖频道发言过快，<SGText/><SGText>%s<SGText/><SGText>秒后再试<SGText/>" ApplicationScene="聊天-江湖频道消息发送太快" DurationTime="3" CallBack=""/>
	<Setting Name="好友聊天好友id错误" Result="110" MessageType="Info" Description="好友聊天好友id错误" ApplicationScene="聊天：好友聊天好友id错误" DurationTime="3" CallBack=""/>
	<Setting Name="InviteMatchGroupOK" Result="111" MessageType="Info" Description="<SGText>正在邀请<SGText/><SGText>%s<SGText/><SGText>加入队伍<SGText/>" ApplicationScene="组队-点击邀请入队" DurationTime="3" CallBack=""/>
	<Setting Name="GroupLeaveOK" Result="112" MessageType="Info" Description="你已经离开队伍" ApplicationScene="组队：你已经离开队伍" DurationTime="3" CallBack=""/>
	<Setting Name="GroupMemberIsFull" Result="113" MessageType="Info" Description="<SGText>对方队伍已满，无法加入<SGText/>" ApplicationScene="组队：队伍成员满了" DurationTime="3" CallBack=""/>
	<Setting Name="GroupServerBusy" Result="114" MessageType="Info" Description="队伍服务器错误, 请稍后重试" ApplicationScene="组队：队伍服务器错误, 请稍后重试" DurationTime="3" CallBack=""/>
	<Setting Name="GroupInviteNotExist" Result="115" MessageType="Info" Description="组队邀请不存在" ApplicationScene="组队：组队邀请不存在" DurationTime="3" CallBack=""/>
	<Setting Name="GroupCanNotKickSelf" Result="116" MessageType="Info" Description="不能踢自己" ApplicationScene="组队：不能踢自己" DurationTime="3" CallBack=""/>
	<Setting Name="GroupInGroup" Result="117" MessageType="Info" Description="你已经在队伍中" ApplicationScene="组队：你已经在队伍中" DurationTime="3" CallBack=""/>
	<Setting Name="GroupApplyNotExist" Result="118" MessageType="Info" Description="组队申请不存在" ApplicationScene="组队：组队申请不存在" DurationTime="3" CallBack=""/>
	<Setting Name="GroupNotInGroup" Result="119" MessageType="Info" Description="你不在队伍中" ApplicationScene="组队：你不在队伍中" DurationTime="3" CallBack=""/>
	<Setting Name="ItemNotExist" Result="120" MessageType="Info" Description="你没有该道具" ApplicationScene="背包|道具：你没有该道具" DurationTime="3" CallBack=""/>
	<Setting Name="ItemDataError" Result="121" MessageType="Info" Description="<SGText>道具<SGText/><SGText>%s<SGText/><SGText>配置错误<SGText/>" ApplicationScene="背包|道具：道具%s配置错误" DurationTime="3" CallBack=""/>
	<Setting Name="ItemCanNotUse" Result="122" MessageType="Info" Description="道具不能使用" ApplicationScene="背包|道具：道具不能使用" DurationTime="3" CallBack=""/>
	<Setting Name="GroupNotExist" Result="123" MessageType="Info" Description="队伍已经解散" ApplicationScene="组队：队伍已经解散" DurationTime="3" CallBack=""/>
	<Setting Name="StoreBuyOK" Result="124" MessageType="Info" Description="购买商品成功" ApplicationScene="商城：购买商品成功" DurationTime="3" CallBack=""/>
	<Setting Name="GiveBuyOK" Result="125" MessageType="Info" Description="<SGText>赠送成功<SGText/>" ApplicationScene="商城：赠送商品成功" DurationTime="3" CallBack=""/>
	<Setting Name="GroupPlayerOffline" Result="126" MessageType="Info" Description="<SGText>%s<SGText/><SGText>已经离线<SGText/>" ApplicationScene="系统|好友|组队:%s已经离线" DurationTime="3" CallBack=""/>
	<Setting Name="GroupAlreadyInGroup" Result="127" MessageType="Info" Description="<SGText>%s<SGText/><SGText>已经在队伍中<SGText/>" ApplicationScene="组队：%s已经在队伍中" DurationTime="3" CallBack=""/>
	<Setting Name="GroupRefuseInvite" Result="128" MessageType="Info" Description="<SGText>%s<SGText/><SGText>设置拒绝组队邀请<SGText/>" ApplicationScene="组队：%s设置拒绝组队邀请" DurationTime="3" CallBack=""/>
	<Setting Name="GroupRefuseYourInvite" Result="129" MessageType="Info" Description="<SGText>对方正忙，暂时无法接受组队邀请<SGText/>" ApplicationScene="组队：%s拒绝你的组队邀请!" DurationTime="3" CallBack=""/>
	<Setting Name="GroupMemberLeave" Result="130" MessageType="Info" Description="<SGText>%s<SGText/><SGText>离开队伍<SGText/>" ApplicationScene="组队-玩家离开队伍（全队除该玩家）" DurationTime="3" CallBack=""/>
	<Setting Name="GroupRefuseApply" Result="131" MessageType="Info" Description="<SGText>对方正忙，暂时无法接受组队邀请<SGText/>" ApplicationScene="组队：%s拒绝你的组队申请!" DurationTime="3" CallBack=""/>
	<Setting Name="GroupCaptainOffline" Result="132" MessageType="Info" Description="队长不在线" ApplicationScene="组队：队长不在线" DurationTime="3" CallBack=""/>
	<Setting Name="GroupNoCaption" Result="133" MessageType="Info" Description="没有队长数据" ApplicationScene="组队：没有队长数据" DurationTime="3" CallBack=""/>
	<Setting Name="GroupNotCaption" Result="134" MessageType="Info" Description="你不是队长" ApplicationScene="组队：你不是队长" DurationTime="3" CallBack=""/>
	<Setting Name="FriendServerBusy" Result="135" MessageType="Info" Description="好友服务器繁忙, 请稍后再试" ApplicationScene="好友：好友服务器繁忙, 请稍后再试" DurationTime="3" CallBack=""/>
	<Setting Name="FriendRefuseYourInvite" Result="136" MessageType="Info" Description="<SGText>%s<SGText/><SGText>拒绝了你的好友请求<SGText/>" ApplicationScene="好友：%s拒绝了你的好友请求" DurationTime="3" CallBack=""/>
	<Setting Name="FriendAddOK" Result="137" MessageType="Info" Description="<SGText>与<SGText/><SGText>%s<SGText/><SGText>已为知交<SGText/>" ApplicationScene="好友：你与%s是好友了" DurationTime="3" CallBack=""/>
	<Setting Name="FriendInviteReq" Result="138" MessageType="Info" Description="<SGText>%s<SGText/><SGText>向你发送了好友申请<SGText/>" ApplicationScene="好友：%s向你发送了好友申请" DurationTime="3" CallBack=""/>
	<Setting Name="GroupJoinOK" Result="139" MessageType="Info" Description="<SGText>你加入队伍<SGText/>" ApplicationScene="组队-成功邀请对方进入队伍(对方)" DurationTime="" CallBack=""/>
	<Setting Name="GroupMemberJoin" Result="140" MessageType="Info" Description="<SGText>%s<SGText/><SGText>加入队伍<SGText/>" ApplicationScene="组队-对方同意申请入队(全队除自己)" DurationTime="" CallBack=""/>
	<Setting Name="GroupIsNewCaption" Result="141" MessageType="Info" Description="<SGText>你已成为队长<SGText/>" ApplicationScene="组队-玩家成为队长" DurationTime="" CallBack=""/>
	<Setting Name="FriendLinessAdd" Result="142" MessageType="Info" Description="<SGText>与<SGText/><SGText>%s<SGText/><SGText>情义小涨<SGText/><SGText>%s<SGText/>" ApplicationScene="好友|个人信息：敬酒成功友好度增加 " DurationTime="" CallBack=""/>
	<Setting Name="FriendLinessAddLimit" Result="143" MessageType="Info" Description="<SGText>今日与<SGText/><SGText>%s<SGText/><SGText>情义已满<SGText/>" ApplicationScene="好友：组队友好度达到每日上限，好感度上限" DurationTime="" CallBack=""/>
	<Setting Name="FriendLinessAddByWinGame" Result="144" MessageType="Info" Description="<SGText>拔得头筹，与<SGText/><SGText>%s<SGText/><SGText>情义另涨<SGText/><SGText>%s<SGText/>" ApplicationScene="好友：组队游戏第一，增加好感度" DurationTime="" CallBack=""/>
	<Setting Name="FriendLinessMaxLimit" Result="145" MessageType="Info" Description="<SGText>与<SGText/><SGText>%s<SGText/><SGText>已是刎颈之交<SGText/>" ApplicationScene="好友：友好度已达上限" DurationTime="" CallBack=""/>
	<Setting Name="WishPanelAddSuccessed" Result="146" MessageType="Info" Description="<SGText>添加心愿单成功<SGText/>" ApplicationScene="商城：添加心愿单成功" DurationTime="" CallBack=""/>
	<Setting Name="GroupInviteInMatch" Result="147" MessageType="Info" Description="已经在匹配中不能邀请入队" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="GroupApplyInMatch" Result="148" MessageType="Info" Description="已经在匹配中不能申请入队" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="GroupInviteTimeOut" Result="149" MessageType="Info" Description="邀请已经超时, 无法加入队伍" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="GroupInviteMatchError" Result="150" MessageType="Info" Description="该模式下不能组队" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="GroupApplyTimeOut" Result="151" MessageType="Info" Description="申请已经超时, 无法加入队伍" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="OperateFrequently" Result="152" MessageType="Info" Description="操作太频繁" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="DataNotEnough" Result="153" MessageType="Info" Description="没有足够的数据" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="CompoundNotExist" Result="154" MessageType="Info" Description="合成配置不存在" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="LoginIsClose" Result="155" MessageType="Info" Description="登录已经关闭" ApplicationScene="" DurationTime="" CallBack=""/>
	<Setting Name="FriendFriendCountOver" Result="10000" MessageType="Info" Description="好友列表已满" ApplicationScene="好友：好友列表已满" DurationTime="3" CallBack=""/>
	<Setting Name="FriendApplyCountOver" Result="10001" MessageType="Info" Description="申请列表已满" ApplicationScene="好友：申请列表已满" DurationTime="3" CallBack=""/>
	<Setting Name="FriendSearchEmpty" Result="10002" MessageType="Info" Description="<SGText>无名之辈，不足挂齿<SGText/>" ApplicationScene="好友：搜索空名" DurationTime="3" CallBack=""/>
	<Setting Name="FriendAddFriendSuccessed" Result="10003" MessageType="Info" Description="<SGText>知交之请已达<SGText/>" ApplicationScene="好友：添加好友成功" DurationTime="3" CallBack=""/>
	<Setting Name="EquipDeleteTipContent" Result="10004" MessageType="Info" Description="即将销毁此道具，是否同意" ApplicationScene="背包|道具：即将销毁此道具，是否同意" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesDeleteTipContent" Result="10005" MessageType="Info" Description="即将销毁此时装，是否同意" ApplicationScene="背包|道具：即将销毁此时装，是否同意" DurationTime="3" CallBack=""/>
	<Setting Name="NoCanSettingDefault" Result="10006" MessageType="Info" Description="<SGText>未穿戴时装无法设为默认<SGText/>" ApplicationScene="商城|背包：未穿戴时装时无法设为默认" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesNotFit" Result="10007" MessageType="Info" Description="该套装不适合你" ApplicationScene="商城|背包：该套装不适合你" DurationTime="3" CallBack=""/>
	<Setting Name="KickLoginBeKick" Result="10008" MessageType="Info" Description="被登录踢下线" ApplicationScene="系统：被登录踢下线" DurationTime="3" CallBack=""/>
	<Setting Name="KickPlatformBeKick" Result="10009" MessageType="Info" Description="被平台踢下线" ApplicationScene="系统：被平台踢下线" DurationTime="3" CallBack=""/>
	<Setting Name="AutographCharOverLength" Result="10010" MessageType="Info" Description="<SGText>输入文字超过字数上限<SGText/>" ApplicationScene="个人信息：签名字数超上限" DurationTime="3" CallBack=""/>
	<Setting Name="ContainIIleagalChar" Result="10011" MessageType="Info" Description="<SGText>个性签名包含非法字符<SGText/>" ApplicationScene="个人信息:签名输入屏蔽字符" DurationTime="3" CallBack=""/>
	<Setting Name="ClothesNotMatchModel" Result="10012" MessageType="Info" Description="此时装不适合当前人物" ApplicationScene="商城|背包：此时装不适合当前人物" DurationTime="3" CallBack=""/>
	<Setting Name="MoneyIsLack" Result="10013" MessageType="Info" Description="您的铜钱不足，可通过比赛对战等途径获得" ApplicationScene="商城：您的铜钱不足，可通过比赛对战等途径获得" DurationTime="3" CallBack=""/>
	<Setting Name="DiamondIsLack" Result="10014" MessageType="Info" Description="您的银两不足，可充值获得" ApplicationScene="商城：您的银两不足，可充值获得" DurationTime="3" CallBack=""/>
	<Setting Name="MoneyGet" Result="10015" MessageType="Info" Description="获得铜钱" ApplicationScene="商城|背包|邮件：获得铜钱" DurationTime="3" CallBack=""/>
	<Setting Name="DiamondGet" Result="10016" MessageType="Info" Description="获得银两" ApplicationScene="商城|背包|邮件：获得银两" DurationTime="3" CallBack=""/>
	<Setting Name="WishOverCount" Result="10017" MessageType="Info" Description="你添加的心愿已达上限（6个），请移除某个心愿后再继续添加" ApplicationScene="商城|个人信息：你添加的心愿已达上限（6个），请移除某个心愿后再继续添加" DurationTime="3" CallBack=""/>
	<Setting Name="PleaseLogin" Result="10018" MessageType="Info" Description="<SGText>请先登录<SGText/>" ApplicationScene="登录界面-未登录点击进入江湖" DurationTime="" CallBack=""/>
	<Setting Name="CreateRoleNameIllegal" Result="10019" MessageType="Info" Description="<SGText>只能使用1~6个中文字<SGText/>" ApplicationScene="创建角色-名字不符合规则" DurationTime="" CallBack=""/>
	<Setting Name="PleaseClickRole" Result="10020" MessageType="Info" Description="<SGText>请先选择一个角色<SGText/>" ApplicationScene="创建角色-未选择角色点击随机名,创建角色-未选择角色点击进入" DurationTime="" CallBack=""/>
	<Setting Name="ChatCharIllegal" Result="10021" MessageType="Info" Description="<SGText>消息发送失败<SGText/>" ApplicationScene="聊天-输入违禁字" DurationTime="" CallBack=""/>
	<Setting Name="ChatUnCheckInNearbyChanel" Result="10022" MessageType="Info" Description="<SGText>需要先选择玩家<SGText/>" ApplicationScene="聊天-最近频道未选择玩家点击发送" DurationTime="" CallBack=""/>
	<Setting Name="ChatUnJoinWarTeam" Result="10023" MessageType="Info" Description="<SGText>需要先加入战队<SGText/>" ApplicationScene="聊天-战队频道未加入战队点击发送" DurationTime="" CallBack=""/>
	<Setting Name="ChatUnJoinTeam" Result="10024" MessageType="Info" Description="<SGText>需要先加入队伍<SGText/>" ApplicationScene="聊天-队伍频道未加入队伍点击发送" DurationTime="" CallBack=""/>
	<Setting Name="MatchRepeatInviteToCode" Result="10025" MessageType="Info" Description="<SGText>已发出邀请，请<SGText/><SGText>%s<SGText/><SGText>秒后再邀请<SGText/>" ApplicationScene="组队-10秒内再次点击邀请入队
" DurationTime="" CallBack=""/>
	<Setting Name="CopySuccessed" Result="10026" MessageType="Info" Description="<SGText>复制成功<SGText/>" ApplicationScene="系统|个人信息：复制成功" DurationTime="" CallBack=""/>
	<Setting Name="GiveFaildForLimitsGoods" Result="10027" MessageType="Info" Description="<SGText>限量商品无法赠送<SGText/>" ApplicationScene="商城：限量商品无法赠送" DurationTime="" CallBack=""/>
	<Setting Name="MatchHasPrepared" Result="10028" MessageType="Info" Description="已准备就绪" ApplicationScene="匹配|已准备就绪" DurationTime="" CallBack=""/>
	<Setting Name="MatchHasCanceled" Result="10029" MessageType="Info" Description="已取消准备" ApplicationScene="匹配|已取消准备" DurationTime="" CallBack=""/>
</Settings>
