<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Guilds>
	<!--帮派基础管理-->
	<Guild Level="1"  MaxMember="30" UpgradeActiveness="1000" DegradeActiveness="500" MaxLog="100" MaxApplylist="100" Cost="[{&quot;money&quot;:{&quot;money&quot;:&quot;1000&quot;}}]]" MedalList="1,2,3,4,5,6,7"/>
	<Guild Level="2"  MaxMember="30" UpgradeActiveness="2000" DegradeActiveness="1500" MaxLog="100" MaxApplylist="100" Cost="[{&quot;money&quot;:{&quot;money&quot;:&quot;1000&quot;}}]]" MedalList="1,2,3,4,5,6,7"/>
	</Guilds>
	
	<!--帮派排名规则-->
	<GuildRanks>
		<ShowData Name="level"/>
		<ShowData Name="totalactiveness"/>
	</GuildRanks>
	
	<!--帮派成员的权力-->
	<GuildMmebers>
		<GuildMember Title = "1" Invite = "1" Review = "1" Dissolve = "1" Dismissal = "1" Appoint = "1" Modify = "1"/>
		<GuildMember Title = "2" Invite = "1" Review = "1" Dissolve = "0" Dismissal = "1" Appoint = "0" Modify = "0"/>
		<GuildMember Title = "3" Invite = "1" Review = "0" Dissolve = "0" Dismissal = "0" Appoint = "0" Modify = "0"/>
	</GuildMmebers>
	<option MaxGuildListPage = "10"/>
	
</Settings>
