<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting MatchId="1" MatchType="1" OpenServer="4101" MinGroupPlayerCount="1" MaxGroupPlayerCount="1" MaxPlayerCount="100" MaxRoomWaitTime="2" WaitConfirmTime="10"/>
	<Setting MatchId="2" MatchType="1" OpenServer="4102" MinGroupPlayerCount="1" MaxGroupPlayerCount="2" MaxPlayerCount="100" MaxRoomWaitTime="2" WaitConfirmTime="10"/>
	<Setting MatchId="3" MatchType="1" OpenServer="4103" MinGroupPlayerCount="1" MaxGroupPlayerCount="4" MaxPlayerCount="100" MaxRoomWaitTime="2" WaitConfirmTime="10"/>
</Settings>
