<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!--Redis数据库配置 -->
	<!--Id 配置id -->
	<!--Database 数据库名字 -->
	<!--Ip 数据库地址 -->
	<!--Port 数据库端口 -->
	<!--User 登录用户名 -->
	<!--Password 登录密码 -->
	<MySQL>
		<Connection Id="1" IP="127.0.0.1" Port="3306" Database="login" User="root" Password="mysql@lori227-="/>
	</MySQL>

	<!--逻辑功能对应redis映射-->
	<!--DefaultRedis 默认数据库-->
	<!--Filed 逻辑模块-->
	<!--Id redis数据库id-->
	<!--LogicId 逻辑id-->

	<LogicMySQL DefaultRedis="1">
		<!--保存服务器列表信息-->
		<Logic Filed="login" LogicId="0" Id="1"/>
	</LogicMySQL>
</Config>
