<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!-- 调试lua脚本路径 -->
	<Option Name="debugluafile" Value="./script/debug.lua"/>

	<!-- 全局邮件清理时间 几点 -->
	<Option Name="wholemailcleartime" Value="5"/>

	<!-- 每日敬酒清理时间 几点 -->
	<Option Name="dailytoastcleartime" Value="5"/>

	<!-- 邮件数量最大限制 1 系统邮件  2 好友邮件 3 礼包邮件 -->
	<Option Name="maxmailcount" Key="1" Value="10"/>
	<Option Name="maxmailcount" Key="2" Value="10"/>
	<Option Name="maxmailcount" Key="3" Value="10"/>
	
	<!-- 邮件领取完是否立即删除 1 系统邮件  2 好友邮件 3 礼包邮件 -->
	<Option Name="delNow" Key="1" Value="1"/>
	<Option Name="delNow" Key="2" Value="1"/>
	<Option Name="delNow" Key="3" Value="0"/>

	<!-- 匹配对应的属性字段 -->
	<Option Name="matchscore" Key="1" Value="singlescore"/>
	<Option Name="matchscore" Key="2" Value="doublescore"/>
	<Option Name="matchscore" Key="3" Value="fourscore"/>

	<!-- 心愿单 大小 -->
	<Option Name="wishordersize" Value="6"/>

	<!-- 队伍属性 -->
	<!-- 队伍拒绝邀请的时间 单位:秒-->
	<!-- 队伍邀请/申请组队的有效时间 单位:秒-->
	<Option Name="groupinviterefusetime" Key="0" Value="300"/>
	<Option Name="groupinviteapplyvalidtime" Key="0" Value="60"/>
</Config>

