<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!--ServerId 服务器id -->
	<!--ZoneId 逻辑分区id -->
	<Zone Id="1">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="2">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="3">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="4">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="5">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="6">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="7">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="8">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="9">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="10">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="11">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="12">
		<Server Id="10101"/>
	</Zone>

	<Zone Id="13">
		<Server Id="1113"/>
	</Zone>

	<Zone Id="14">
		<Server Id="1114"/>
	</Zone>

	<Zone Id="15">
		<Server Id="1115"/>
	</Zone>

	<Zone Id="16">
		<Server Id="1116"/>
	</Zone>

	<Zone Id="17">
		<Server Id="1117"/>
	</Zone>

	<Zone Id="18">
		<Server Id="1118"/>
	</Zone>

	<Zone Id="19">
		<Server Id="1119"/>
	</Zone>

	<Zone Id="20">
		<Server Id="1120"/>
	</Zone>
</Config>







