<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!--Redis数据库配置 -->
	<!--Id 配置id -->
	<!--Name 数据库名字 -->
	<!--Ip 数据库地址 -->
	<!--Port 数据库端口 -->
	<!--User 登录用户名 -->
	<!--Password 登录密码 -->
	<Redis>
		<Connection Id="1" IP="127.0.0.1" Port="6379" Password="redis@lori227-="/>
	</Redis>

	<!--逻辑功能对应redis映射-->
	<!--DefaultRedis 默认数据库-->
	<!--Filed 逻辑模块-->
	<!--Id redis数据库id-->
	<!--LogicId 逻辑id-->

	<LogicRedis DefaultRedis="1">
		<!--保存服务器列表信息-->
		<Logic Filed="login" LogicId="0" Id="1"/>

		<!--保存账号信息-->
		<Logic Filed="account" LogicId="0" Id="1"/>

		<!--公共数据信息-->
		<Logic Filed="public" LogicId="0" Id="1"/>

		<!--关系数据信息-->
		<Logic Filed="relation" LogicId="0" Id="1"/>

		<!--保存邮件信息-->
		<Logic Filed="mail" LogicId="0" Id="1"/>

		<!--保存战斗服务器信息-->
		<Logic Filed="battle" LogicId="0" Id="1"/>
		
		<!--保存排行榜信息-->
		<Logic Filed="rank" LogicId="0" Id="1"/>
		
		<!--保存玩家数据信息-->
		<Logic Filed="player" LogicId="1" Id="1"/>
		<Logic Filed="player" LogicId="2" Id="1"/>
		<Logic Filed="player" LogicId="3" Id="1"/>
		<Logic Filed="player" LogicId="4" Id="1"/>
		<Logic Filed="player" LogicId="5" Id="1"/>
		<Logic Filed="player" LogicId="6" Id="1"/>
		<Logic Filed="player" LogicId="7" Id="1"/>
		<Logic Filed="player" LogicId="8" Id="1"/>
		<Logic Filed="player" LogicId="9" Id="1"/>
		<Logic Filed="player" LogicId="10" Id="1"/>
		<Logic Filed="player" LogicId="11" Id="1"/>
		<Logic Filed="player" LogicId="12" Id="1"/>
		<Logic Filed="player" LogicId="13" Id="1"/>
		<Logic Filed="player" LogicId="14" Id="1"/>
		<Logic Filed="player" LogicId="15" Id="1"/>
		<Logic Filed="player" LogicId="16" Id="1"/>
		<Logic Filed="player" LogicId="17" Id="1"/>
		<Logic Filed="player" LogicId="18" Id="1"/>
	</LogicRedis>
</Config>

