<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting FriendMaxCount="10" InviteMaxCount="5" InviteKeepTime="1" SingleTeamFriendLiness="5" MaxTeamFriendLiness="80" SingleWinFriendLiness="5" MaxWinFriendLiness="20" JingJiuFriendLiness="2" MaxJingJiuFriendLiness="10" ResetFriendLinessTime="5" MaxFriendLiness="999" MaxRecentList="10"/>
</Settings>
