<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="10001" StoreType="1" DataName="skin" BuyElement="[{&quot;skin&quot;:{&quot;id&quot;:&quot;20005&quot;}}]" BuyMaxCount="1" CostElement="money=[{&quot;money&quot;:&quot;90&quot;}]" StartDiscountTime="" EndDiscountTime="" DiscountElement="" BuyLimit="0" MaxOwnCount="0"/>
	<Setting Id="10002" StoreType="1" DataName="skin" BuyElement="[{&quot;skin&quot;:{&quot;id&quot;:&quot;20005&quot;}}]" BuyMaxCount="1" CostElement="money=[{&quot;money&quot;:&quot;90&quot;}]|diamon=[{&quot;diamon&quot;:&quot;10&quot;}]" StartDiscountTime="43485.5" EndDiscountTime="43516.5" DiscountElement="money=[{&quot;money&quot;:&quot;68&quot;}]|diamon=[{&quot;diamon&quot;:&quot;10&quot;}]" BuyLimit="1,10" MaxOwnCount="1"/>
</Settings>
