<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting ConfigKeyName="" Class="Global" Name="basic" Type="object" Comment="基础属性" Element="" InitValue="" ContainClass="BasicPlayer" KeyName="id" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Global" Name="player" Type="object" Comment="玩家类属性" Element="" InitValue="" ContainClass="Player" KeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="id" Type="uint64" Comment="玩家id" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="basic" Type="object" Comment="玩家基本属性" Element="" InitValue="" ContainClass="BasicPlayer" KeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="account" Type="string" Comment="玩家账号(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="accountid" Type="uint64" Comment="玩家账号id(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="channel" Type="uint32" Comment="玩家渠道id(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="gateid" Type="uint64" Comment="玩家所在的gateid(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="birthday" Type="uint64" Comment="创建时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="onlinetime" Type="uint64" Comment="本次上线时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="offlinetime" Type="uint64" Comment="上次下线时间(服务器使用)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="totaltime" Type="uint64" Comment="游戏内在线总时长(服务器使用，做一些成就和统计)" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="matchid" Type="uint32" Comment="正在匹配的id" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="matchserverid" Type="uint64" Comment="匹配服务器的id( 服务器使用 )" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="roomid" Type="uint64" Comment="玩家所在的战场房间id" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="roomserverid" Type="uint64" Comment="房间服务器的id( 服务器使用 )" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="id" Class="Player" Name="note" Type="record" Comment="服务器记录id(服务器使用)" Element="" InitValue="" ContainClass="KeyValue" KeyName="id" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="id" Class="Player" Name="variable" Type="record" Comment="玩家变量id" Element="" InitValue="" ContainClass="KeyValue" KeyName="id" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="order" Type="string" Comment="充值订单号" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="diamond" Type="uint32" Comment="钻石" Element="钻石" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="1" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="money" Type="uint32" Comment="游戏币" Element="金币" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="1" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Player" Name="hero" Type="record" Comment="英雄列表" Element="英雄" InitValue="" ContainClass="Hero" KeyName="uuid" Show="1" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="BasicPlayer" Name="id" Type="uint64" Comment="玩家id" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="BasicPlayer" Name="name" Type="string" Comment="玩家名字" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="BasicPlayer" Name="sex" Type="uint32" Comment="玩家性别" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="BasicPlayer" Name="status" Type="uint32" Comment="玩家状态" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="BasicPlayer" Name="statustime" Type="uint64" Comment="玩家状态时间" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="BasicPlayer" Name="serverid" Type="uint64" Comment="玩家所在服务器id" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="1" View="1" Public="1" Relation="1" Group="1" Guild="1" Rank="1" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="KeyValue" Name="id" Type="uint32" Comment="记录id" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="KeyValue" Name="value" Type="uint64" Comment="记录值" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="rand" Type="uint32" Comment="是否随机( 添加配置使用 )" Element="是否随机" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="0" Sync="0" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="uuid" Type="uint64" Comment="uuid" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="race" Type="uint32" Comment="种族" Element="种族" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="profession" Type="uint32" Comment="职业" Element="职业" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="name" Type="string" Comment="名字" Element="名字" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="sex" Type="uint32" Comment="性别" Element="性别" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="identity" Type="uint32" Comment="身份(皇室, 贵族, 平面等 )" Element="身份" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="birthday" Type="uint64" Comment="生日( 时间戳 )" Element="" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="age" Type="uint32" Comment="年龄" Element="年龄" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="quality" Type="uint32" Comment="品质" Element="品质" InitValue="" ContainClass="" KeyName="" Show="1" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="level" Type="uint32" Comment="等级" Element="等级" InitValue="1" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="weapon" Type="uint32" Comment="武器" Element="武器" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="active" Type="array" Comment="主动技能" Element="主动技能" InitValue="3" ContainClass="uint32" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="passivity" Type="array" Comment="被动技能" Element="被动技能" InitValue="3" ContainClass="uint32" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="innate" Type="array" Comment="天赋技能" Element="天赋技能" InitValue="3" ContainClass="uint32" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="str" Type="uint32" Comment="力量" Element="力量" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="dex" Type="uint32" Comment="敏捷" Element="敏捷" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="con" Type="uint32" Comment="体质" Element="体质" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
	<Setting ConfigKeyName="" Class="Hero" Name="int" Type="uint32" Comment="智力" Element="智力" InitValue="" ContainClass="" KeyName="" Show="0" Multiple="0" Save="1" Sync="1" View="0" Public="0" Relation="0" Group="0" Guild="0" Rank="0" Log="0" LuaFile="" AddFunction="" UpdateFunction="" RemoveFunction=""/>
</Settings>
