<root version="00000">
	<item Id="redis" FileName="./setting/{}_{}_redis.xml"/>
	<item Id="mongo" FileName="./setting/{}_{}_mongo.xml"/>
	<item Id="mysql" FileName="./setting/{}_{}_mysql.xml"/>
	<item Id="ip" FileName="./setting/{}_{}_ip.xml"/>
	<item Id="zone" FileName="./setting/{}_{}_zone.xml" Reload="1" ClearData="1"/>
	<item Id="bus" FileName="./setting/bus.xml"/>
	<item Id="http" FileName="./setting/httpserver.xml"/>
	<item Id="tcp" FileName="./setting/tcpserver.xml"/>
	<item Id="datashard" FileName="./setting/datashard.xml"/>
	<item Id="robot" FileName="./setting/robot.xml"/>
	<item Id="channel" FileName="./config/channel.xml" Reload="1" ClearData="1"/>
	<item Id="filter" FileName="./config/filter.xml" Reload="1" ClearData="1"/>
	<item Id="class" FileName="./config/class.xml" Reload="1"/>
	<item Id="relation" FileName="./config/relation.xml" Reload="1" ClearData="1"/>
	<item Id="rank" FileName="./config/rank.xml" Reload="1" ClearData="1"/>
	<item Id="compound" FileName="./config/compound.xml" Reload="1" ClearData="1"/>
	<item Id="pay" FileName="./config/pay.xml" Reload="1" ClearData="1"/>
	<item Id="enter" FileName="./config/enter.xml" Reload="1" ClearData="1"/>
	<item Id="leave" FileName="./config/leave.xml" Reload="1" ClearData="1"/>
	<item Id="reset" FileName="./config/reset.xml" Reload="1" ClearData="1"/>
	<item Id="signin" FileName="./config/signin.xml" Reload="1" ClearData="1"/>
	<item Id="store" FileName="./config/store.xml" Reload="1" ClearData="1"/>
	<item Id="task" FileName="./config/task.xml" Reload="1" ClearData="1"/>
	<item Id="achieve" FileName="./config/achieve.xml" Reload="1" ClearData="1"/>
	<item Id="option" FileName="./config/option.xml" Reload="1"/>
	<item Id="option" FileName="./config/heroment.xml" Reload="1"/>
	<item Id="option" FileName="./config/itemment.xml" Reload="1"/>
	<item Id="item" FileName="./config/itemcommon.xml" Reload="1"/>
	<item Id="item" FileName="./config/itemgift.xml" Reload="1"/>
	<item Id="item" FileName="./config/itemequip.xml" Reload="1"/>
	<item Id="item" FileName="./config/itemmedicine.xml" Reload="1"/>
	<item Id="weight" FileName="./config/weightpool.xml" Reload="1" ClearData="1"/>
	<item Id="race" FileName="./config/herorace.xml" Reload="1" ClearData="1"/>
	<item Id="character" FileName="./config/herocharacter.xml" Reload="1" ClearData="1"/>
	<item Id="background" FileName="./config/herobackground.xml" Reload="1" ClearData="1"/>
	<item Id="heroattribute" FileName="./config/heroattribute.xml" Reload="1" ClearData="1"/>
	<item Id="profession" FileName="./config/heroprofession.xml" Reload="1" ClearData="1"/>
	<item Id="skill" FileName="./config/heroskill.xml" Reload="1" ClearData="1"/>
	<item Id="generate" FileName="./config/herogenerate.xml" Reload="1" ClearData="1"/>
	<item Id="pinchface" FileName="./config/heropinchface.xml" Reload="1" ClearData="1"/>
	<item Id="herolevel" FileName="./config/herolevel.xml" Reload="1" ClearData="1"/>
	<item Id="recruit" FileName="./config/recruitrefresh.xml" Reload="1" ClearData="1"/>
	<item Id="divisor" FileName="./config/recruitdivisor.xml" Reload="1" ClearData="1"/>
	<item Id="traincamp" FileName="./config/traincamp.xml" Reload="1" ClearData="1"/>
</root>
