<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!--Platform -->
	<!--TokenExpireTime Token的有效时间 单位 : 秒-->
	<!--OpenActivation 1 开启激活-->
	<!--ServerListType 1 所有服务器列表 2 直接随机一个服务器登录-->
	<Platform TokenExpireTime="300" OpenActivation="0"/>
	<ServerListTypes>
		<!-- 内网研发服 -->
		<ServerListType AppFlag="1" Type="1" >
		<!-- 内网测试服 -->
		<ServerListType AppFlag="2" Type="1" >

		<!-- 外网测试服 -->
		<ServerListType AppFlag="3" Type="2" >
		<!-- 外网体验服 -->
		<ServerListType AppFlag="4" Type="2" >
		<!-- 外网正式服 -->
		<ServerListType AppFlag="5" Type="2" >
	</ServerListTypes>
</Config>

