<?xml version='1.0' encoding='utf-8' ?>
<Config>
	<!--Cluster 集群类型-->
	<Clusters>
		<Cluster Name="data" Type="master" Key="DataCluster@KFrame,./"/>
		<Cluster Name="public" Type="master" Key="PublicCluster@KFrame,./"/>	
		<Cluster Name="route" Type="master" Key="RouteCluster@KFrame,./"/>
		<Cluster Name="match" Type="master" Key="MatchCluster@KFrame,./"/>
		<Cluster Name="battle" Type="master" Key="BattleCluster@KFrame,./"/>
		<Cluster Name="mail" Type="master" Key="MailCluster@KFrame,./"/>	
		<Cluster Name="relation" Type="master" Key="RelationCluster@KFrame,./"/>
		<Cluster Name="group" Type="master" Key="GroupCluster@KFrame,./"/>
		<Cluster Name="rank" Type="master" Key="RankCluster@KFrame,./"/>
		<Cluster Name="guild" Type="master" Key="GuildCluster@KFrame,./"/>
	</Clusters>
</Config>

