<?xml version='1.0' encoding='utf-8' ?>

<!--File 启动器路径 -->
<!--AutoStartup 是否自动启动服务 -->
<!--DeployPath 驱动程序路径 -->
<!--FtpId Launch使用的ftpid -->


<Setting DeployPath="../" AutoStartup="1" FtpId="1">

	<!--LaunchId 启动的编号 -->
	<!--Startup 1 启动   0 不启动 -->
	<!--ShowWindow 1 显示窗口   0 后台运行 -->
	<!--Pause 1 启动时候暂停挂起   0 不挂起 ( 仅Debug模式下有效 ) -->
	<!--AppPath 启动的进程路径 -->
	<!--AppFile 启动的进程文件 -->
	<!--AppName 启动的进程名字 -->
	<!--AppId 启动的进程id -->
	<!--AppType 进程类型-->
	<!--Path 游戏配置文件路径-->
	<!--AppConfig 启动的startup配置文件-->
	
	<Launchs ShowWindow="0" AppPath="auth" AppFile="authserver" AppName="auth" AppType="auth" AppConfig="./setting/auth.startup">
		<Launch LaunchId="1" AppId="1001" Startup="1" Pause="0" FtpId="1"/>
	</Launchs>

	<Launchs ShowWindow="0" AppPath="platform" AppFile="platformserver" AppName="platform" AppType="platform" AppConfig="./setting/platform.startup">
		<Launch LaunchId="11" AppId="2011" Startup="1" Pause="0" FtpId="2"/>
		<Launch LaunchId="12" AppId="2012" Startup="1" Pause="0" FtpId="2"/>
	</Launchs>


</Setting>

