<?xml version='1.0' encoding='utf-8' ?>

<!--File 启动器路径 -->
<!--DeployPath 驱动程序路径 -->
<!--AutoStartup 是否自动启动服务 -->
<!--ShowWindow 1 显示窗口   0 后台运行 -->
<!--FtpId 更新的id -->

<Setting DeployPath="../" AutoStartup="1" ShowWindow="0" FtpId="1">
	<!--AppPath 启动的进程路径 -->
	<!--AppFile 启动的进程文件 -->
	<!--AppName 启动的进程名字 -->
	<!--AppId 启动的进程id -->
	<!--AppType 进程类型-->
	<!--AppCount 进程数量-->
	<!--Path 游戏配置文件路径-->
	<!--AppConfig 启动的startup配置文件-->
	
	<!-- auth cluster -->
	<Launchs AppPath="auth" AppFile="authserver" AppName="auth">
		<Launch AppType="auth" AppId="1001" AppCount="1" AppConfig="./setting/auth.startup"/>
	</Launchs>

	<!-- platform cluster -->
	<Launchs AppPath="platform" AppFile="platformserver" AppName="platform">
		<Launch  AppType="platform" AppId="2011" AppCount="2" AppConfig="./setting/platform.startup"/>
	</Launchs>

	<!-- data cluster -->
	<Launchs AppPath="datacluster" AppFile="dataserver" AppName="data">
		<Launch AppType="master" AppId="10000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="10001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="12001" AppCount="12" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- public cluster -->
	<Launchs AppPath="publiccluster" AppFile="publicserver" AppName="public">
		<Launch AppType="master" AppId="20000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="20001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="12001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- route cluster -->
	<Launchs AppPath="routecluster" AppFile="routeserver" AppName="route">
		<Launch AppType="master" AppId="30000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="30001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="32001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- match cluster -->
	<Launchs AppPath="matchcluster" AppFile="matchserver" AppName="match">
		<Launch AppType="master" AppId="40000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="40001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="42001" AppCount="3" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- battle cluster -->
	<Launchs AppPath="battlecluster" AppFile="battleserver" AppName="battle">
		<Launch AppType="master" AppId="50000" AppCount="1" AppConfig="./setting/master.startup" />
		<Launch AppType="proxy" AppId="50001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<LaunchAppType="shard" AppId="52001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- mail cluster -->
	<Launchs AppPath="mailcluster" AppFile="mailserver" AppName="mail">
		<Launch AppType="master" AppId="60000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="60001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="62001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- relation cluster -->
	<Launchs AppPath="relationcluster" AppFile="relationserver" AppName="relation">
		<Launch AppType="master" AppId="70000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="70001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="72001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- group cluster -->
	<Launchs AppPath="groupcluster" AppFile="groupserver" AppName="group">
		<Launch AppType="master" AppId="80000" AppCount="1" AppConfig="./setting/master.startup"/>
		<Launch AppType="proxy" AppId="80001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="82001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- rank cluster -->
	<Launchs AppPath="rankcluster" AppFile="rankserver" AppName="rank">
		<Launch AppType="master" AppId="90000" AppCount="1" AppConfig="./setting/master.startup" />
		<Launch AppType="proxy" AppId="90001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="92001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- guild cluster -->
	<!-->
	<Launchs AppPath="guildcluster" AppFile="guildserver" AppName="guild">
		<Launch AppType="master" AppId="100000" AppCount="1" AppConfig="./setting/master.startup" />
		<Launch AppType="proxy" AppId="100001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="102001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>
	-->

	<!-- log cluster -->
	<Launchs AppPath="logcluster" AppFile="logserver" AppName="log">
		<Launch AppType="master" AppId="110000" AppCount="1" AppConfig="./setting/master.startup" />
		<Launch AppType="proxy" AppId="110001" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="shard" AppId="112001" AppCount="1" AppConfig="./setting/shard.startup"/>
	</Launchs>

	<!-- zone -->
	<Launchs AppPath="zone" AppFile="zoneserver" AppName="zone" ZoneId="1">
		<Launch AppType="master" AppId="100" AppCount="1" AppConfig="./setting/master.startup" />
		<Launch AppType="world" AppId="200" AppCount="1" AppConfig="./setting/world.startup"/>
		<Launch AppType="gate" AppId="301" AppCount="1" AppConfig="./setting/gate.startup"/>
		<Launch AppType="login" AppId="401" AppCount="1" AppConfig="./setting/login.startup"/>
		<Launch AppType="proxy" AppId="501" AppCount="1" AppConfig="./setting/proxy.startup"/>
		<Launch AppType="game" AppId="601" AppCount="1" AppConfig="./setting/game.startup"/>
	</Launchs>

</Setting>

