<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Id="1" Name="20" Describe="xxx" Icon="/Game/Art/CharacterMesh/Texture/rl001_male_youth_Texture/t_rl001_male_youth_trousers_D" Skins="[100|101]" DefaultClothes="100" TimeExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]" HeroExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
	<Setting Id="2" Name="20" Describe="xxx" Icon="/Game/Art/CharacterMesh/Texture/rl001_male_youth_Texture/t_rl001_male_youth_FACE_D" Skins="[200|201]" DefaultClothes="200" TimeExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]" HeroExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
	<Setting Id="3" Name="20" Describe="xxx" Icon="/Game/Art/Image/loginFriends/Frames/logo01" Skins="[300|301]" DefaultClothes="300" TimeExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]" HeroExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
	<Setting Id="4" Name="20" Describe="xxx" Icon="/Game/Art/Image/loginFriends/Frames/logo02" Skins="[400|401]" DefaultClothes="400" TimeExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]" HeroExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
	<Setting Id="5" Name="20" Describe="xxx" Icon="/Game/Art/Image/loginFriends/Frames/logo03" Skins="[500|501]" DefaultClothes="500" TimeExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]" HeroExchange="[{&quot;money&quot;:{&quot;money&quot;:&quot;10000&quot;}}]"/>
</Settings>
