<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting NoteId="1" ChannelId="0" Service="0" LuaFile="./script/game/enter.lua" LuaFunction="NewPlayerFunction"/>
	<Setting NoteId="0" ChannelId="3" Service="0" LuaFile="./script/game/steam_activation_code.lua" LuaFunction="GetSteamActivationCode"/>
	<Setting NoteId="0" ChannelId="0" Service="0" LuaFile="./script/game/report_invite.lua" LuaFunction="ReportInvite"/>
</Settings>
