<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Guilds>
	<!--帮派基础管理-->
	<Guild Level="1"  MaxMember="30" UpgradeActiveness="1000" DegradeActiveness="500" MaxLog="100" MaxApplylist="100" Cost="[{&quot;money&quot;:{&quot;money&quot;:&quot;1000&quot;}}]]" MedalList="1,2,3,4,5,6,7" MaxViceMaster="2"/>
	<Guild Level="2"  MaxMember="30" UpgradeActiveness="2000" DegradeActiveness="1500" MaxLog="100" MaxApplylist="100" Cost="[{&quot;money&quot;:{&quot;money&quot;:&quot;1000&quot;}}]]" MedalList="1,2,3,4,5,6,7" MaxViceMaster="3"/>
	</Guilds>
	
	<!--帮派排名规则-->
	<GuildRanks>
		<ShowData Name="totalactiveness"/>
		<ShowData Name="level"/>
	</GuildRanks>
	
	<!--帮派成员的权力-->
	<GuildMmebers>
		<GuildMember Title = "1" Invite = "1" Review = "1" Dissolve = "1" Dismissal = "1" Appoint = "1" Modify = "1" Upgrade = "1" Manger = "1"/>
		<GuildMember Title = "2" Invite = "1" Review = "1" Dissolve = "0" Dismissal = "1" Appoint = "0" Modify = "0" Upgrade = "1" Manger = "1"/>
		<GuildMember Title = "3" Invite = "1" Review = "0" Dissolve = "0" Dismissal = "0" Appoint = "0" Modify = "0" Upgrade = "0" Manger = "0"/>
	</GuildMmebers>
	
	<!--帮派日志-->
	<GuildLogs>
		<GuildLog Id = "1" Text = "{}创建了帮派!"/>
		<GuildLog Id = "2" Text = "{}被任命为{}!"/>
	</GuildLogs>
	
	<!--帮派活跃度-->
	<GuildActinesses>
		<GuildActiness Id = "1" AddActivenessOnce = "10" ParentName = "basic" Key = "0" DataName = "guildid" Operate = "3" DayLimit = "10" TriggerType = "1" DoneValue = "1" Text = "登录" />
		<GuildActiness Id = "2" AddActivenessOnce = "10" ParentName = "player" Key = "0" DataName = "diamond" Operate = "1" DayLimit = "1000" TriggerType = "2" DoneValue = "10" Text = "充值"/>
		<GuildActiness Id = "3" AddActivenessOnce = "100" ParentName = "player" Key = "0" DataName = "diamond" Operate = "2" DayLimit = "1000" TriggerType = "1" DoneValue = "100" Text = "消费金币"/>
	</GuildActinesses>
	
	<option MaxGuildListPage = "10" Keeptime = "24" ReviewSwitch = "0,1" ReqLevel = "0,1,2,3,4" MaxGuildLogPage = "50" MaxWeekActiveness = "100"/>
</Settings>
