<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="每周1, 6点重置" Descripe="7天签到的总天数" NoteId="10000" TimeType="3" TimeValue="1" TimeHour="6" ParentName="signin" Key="0" DataName="sevenday" Operate="3" Value="0"/>
	<Setting Description="每天 6点重置" Descripe="7天签到的每日签到" NoteId="10001" TimeType="2" TimeValue="0" TimeHour="6" ParentName="signin" Key="0" DataName="sevenday" Operate="1" Value="1"/>
</Settings>
