<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	
	<!--服务器连接-->
	<Connection AuthServerIp="http://192.168.1.9:7777/" VerifyChannel="1" ServerChanel="1"/>

	<!--机器人信息-->
	<Robot RobotName="robot" AccountidBase="60000" RobotCount="1" LoginSpanTime="3000"/>

	<!--好友-->
	<Friend FriendSwitch="1"/>

	<!--礼包-->
	<Gift CDKEY="123456"/>

	<!--状态切换-->
	<State OddStateList="6,7,8,9,15" EvenStateList="6,7,8,9,15" StateRepTime="1000" NextStateCylTime="2"/>
	
	<!--匹配-->
	<Match MatchIds="1"/>
</Settings>
