*.obj
*.tlog
*.lib
*.pdb
*.suo
*.Plo
*.Po
*.log
_out/
*.opendb
*.db
_bin/win64/
_lib/
*.user
KFPlugin/KFHttpClientPlugin/kfhttp.i-1fe04e39
KFPlugin/KFFtpPlugin/kfftpthread.i-0d0aeb13
KFPlugin/KFFtpPlugin/kfftpmoudle.i-19d1a28c
*.idb
KFLibrary/libiconv/MSVC14/libiconv_dll/
KFLibrary/zlib/contrib/vstudio/vc11/x64/
KFLibrary/libiconv/MSVC14/x64/
KFLibrary/log4cxx/log4cxx/projects/Release/
KFLibrary/log4cxx/log4cxx/projects/Debug/
KFLibrary/log4cxx/apr/x64/
KFLibrary/poco/PageCompiler/File2Page/bin64/
KFLibrary/poco/PageCompiler/bin64/
*.lst
.vs/
KFResource/data/~$class.xlsx
